@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixins";
@import "./variables";

.navbar {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,1);
  position: fixed;
  top: 0px;
  z-index: 2000;
  color: white;
  border-bottom: 1px solid #ccc;
}

.container-fluid {
  padding: 0;
}
.row {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 0;
  margin-left: 0;
}

@import "./components/general";
@import "../components/home/home-bg/styles/index.scss";
@import "./components/home/homeOffer";
@import "./components/home/homeTreatments";
@import "./components/home/homeMagazine";
@import "./components/home/homePublicity";
@import "./components/home/homeSocial";
@import "./components/search";
@import "./components/categories";
@import "./components/faqs";
@import "./components/footer";
@import "./components/header";
@import "./components/email-signup";
@import "./components/provider";
@import "./components/categories";
@import "./components/checkout";
@import "./snippets/loader";
@import "../components/faqs/styles/index.scss";
@import "./components/privacy-policy";
@import "./components/about";
@import "./components/account/index";
@import "./components/account/bookings";
@import "./components/treatments-list";
@import "./components/modal-shell";
