@mixin mobile-screens {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-screens {
  @media screen and (max-width: 991px) and (min-width: 767px) {
    @content;
  }
}

@mixin tablet-mobile-screens {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin retina-display {
  @media only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (min-width: 1500px) {
    @content
  }
}
