// colors
$ruuby-blue: #747b89;
$ruuby-blue-dark: #586b72;
$ruuby-grey: #565656;
$ruuby-grey-light: #e7eaeb;
$ruuby-grey-mid: #c0c0c0;
$ruuby-grey-bg: #f4f4f4;
$ruuby-pink: #f5ebe7;
$ruuby-grey-blue: #bdc1c9;
$ruuby-rose: #e9c5b3;
$ruuby-red: #A10404;
$input-placeholder-color: #c5c6c7;

$text-color: #222222;
$alert-panel-bg: $ruuby-rose;
$alert-panel-text: $ruuby-grey;

// metrics
$section-padding: 50px;

// variables for search-results page
$border-color: #c0c0c0;
$filter-light-grey: #a3a3a3;
$filter-dark-grey: #565656;
$treatment-bg: #bdc1c9;
$result-hover-color: #596b72;
$results-title-color: #1d1d26;
$results-rating-color: #88888d;

$facebook-blue: #3b5998;

$NUM_OF_CATEGORIES: 11;
