#load-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: $ruuby-grey-mid;
  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
    &:nth-child(1) {
      background-color: $ruuby-grey;
      animation: loading 3s linear infinite;
    }
    &:nth-child(2) {
      background-color: $ruuby-grey-blue;
      animation: loading 3s linear 1s infinite;
    }
    &:nth-child(3) {
      background-color: $ruuby-rose;
      animation: loading 3s linear 2s infinite;
    }
  }
}

@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}