@import "../../../sass/variables";

.join-container {
  .header {
    margin-top: 50px;
    background: url("./images/header.jpg") no-repeat center;
    background-size: cover;
    height: 20em;
  }

  .main {
    background-color: #f5ebe7;

    .content {
      width: 95%;
      max-width: 1000px;
      margin: 0 auto;
      overflow: auto;

      .quote {
        font-family: "bigcaslon_romregular";
        width: 50%;
        min-width: 15em;
        margin: 1.5em auto;
        font-size: 1.5em;
        text-align: center;
        color: $ruuby-blue;
      }
      .technician-quote {
        font-family: "bigcaslon_romregular" !important;
        width: 80%;
        min-width: 15em;
        margin: 1.5em auto;
        font-size: 1em;
        text-align: center;
        p {
          color: $ruuby-blue !important;
        }
        p:first-child {
          margin-bottom: 0;
        }
        p:last-child {
          text-align: right;
        }
      }

      h1 {
        font-family: "bigcaslon_romregular";
        font-size: 2.5em;
        text-align: center;
        color: $text-color;
        margin: 1em 0;
      }

      h2 {
        font-family: "bigcaslon_romregular";
        font-size: 1.8em;
        text-align: center;
        color: $text-color;
        margin: 2em 0 1em 0;
      }

      p, ul {
        font-family: "nunito_sansregular";
        color: $text-color;
      }

      p:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: underline;
        color: $text-color;

        &:hover {
          text-decoration: none;
        }
      }

      ul.horizontal-list {
        li {
         float: left;
         width: 47%;
        }
        &.perks li {
          width: 100% !important;
        }

        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }

      .as-a-section {
        h3 {
          font-family: "nunito_sansbold";
          font-size: 1.2em;
          margin: 10px 0 0 0;
          color: $text-color;
        }
      }

      .apply-button {
        display: block;
        background-color: white;
        color: $ruuby-grey;
        margin: 2em auto;
        font-family: "nunito_sansregular";
        font-size: 1.2em;
        padding: 0.5em 2em;
        border: 0;
        box-shadow: 0 0 8px 1px lighten($ruuby-grey, 30%);

        &:hover {
          cursor: pointer;
        }

        &:active {
          background-color: #d9dfdf;
        }
      }

      .contact {
        margin: 1em 0;
        text-align: center;
        font-size: 1.2em;

        .phone {
          text-decoration: none !important;

          &:visited, &:hover {
            text-decoration: none !important;
          }
        }

        .icon {
          left: 2em;
          display: inline-block;
          padding: 0;
          svg {
            width: 1em;
            height: 1em;
            path {
              fill: black;
            }
          }
        }
      }
    }
  }
}
