#profile {
  .bookings-row {
    margin-bottom: 30px;
    .no-bookings {
      color: $ruuby-blue;
    }
  }
  .bookings-header {
    font-family: "bigcaslon_romregular";
    color: $ruuby-grey;
  }
  hr {
    width: 80%;
  }
  .col-booking {
    display: block;
    &:visited, &:focus, &:hover, &:active {
      text-decoration: none !important;
    }
    .booking {
      position: relative;
      background: white;
      display: flex;
      margin-bottom: 15px;
      padding: 15px;
      font-family: "nunito_sanssemibold";
      color: $ruuby-blue;
      &:hover {
        cursor: pointer;
        background: #fbfbfb;
        text-decoration: none;
      }
      .therapist-img {
        display: flex;
        align-items: center;
        padding: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50px;
        }
      }
      .info {
        margin-left: 10px;
        width: 100%;
        h4 {
          font-family: "bigcaslon_romregular";
          font-size: 1.4em;
        }
        p {
          margin: 0;
        }
        .bottom-info {
          position: relative;
          display: flex;
          justify-content: space-between;
          font-size: .9em;
          .treatments {
            font-size: .9em;
          }
          .price {
            
          }
        }
        .cancelled {
          position: absolute;
          top: 10px;
          right: 10px;
          color: $ruuby-red;
        }
      }
    }
  }

  @include mobile-screens {
    .booking {
      align-items: center;
      flex-direction: column;
    }
  }

  &.booking-content {
    .booking-back {
      position: absolute;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      padding: 10px;
      background: white;
      svg {
        transform: rotate(90deg);
        height: 10px;
      }
    }
    p.cancelled {
      position: absolute;
      right: 0;
      color: $ruuby-red;
    }
    .header {
      text-align: center;
      img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
      }
      h4 {
        font-family: "bigcaslon_romregular";
        margin: .9em 0;
      }
      p {
        font-family: "nunito_sansregular";
      }
    }
    h3 {
      font-family: "bigcaslon_romregular";
      color: $ruuby-grey;
    }
    .section {
      margin-bottom: 1.5em;
    }

    p {
      color: $ruuby-blue;
      font-family: "nunito_sanssemibold";
    }

    .treatments {
      hr {
        width: 100%;
      }
      .treatment {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-family: "nunito_sanssemibold";
        margin-bottom: 10px;
        padding: 1em 0;
        color: $ruuby-blue;
        .info {
          p {
            margin: 0;
            &.duration {
              color: #a3a3a3 !important;
            }
          }
        }
        hr {
          position: absolute;
          bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    .cards {
      .booking-card {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 5px;
        img, .info {
          display: inline-block;
        }
        .info {
          width: calc(100% - 70px);
          p {
            margin: 0;
            word-wrap: break-word;
          }
        }
        img {
          margin-right: 20px;
          width: 50px;
          height: 34px;
        }
      }
    }

    .promo-notes {
      .row {
        padding: 0;
        .col-md-6 {
          text-align: left;
        }
        .col-md-6:first-child {
          padding-left: 0;
        }
        .col-md-6:last-child {
          padding-right: 0;
        }
      }

      @include mobile-screens {
        .row {
          .col-md-6:first-child {
            margin-bottom: 20px;
          }
          .col-md-6:last-child {
            padding-left: 0;
          }
        }
      }
    }

    @include mobile-screens {
      .btns {
        .cancel-btn {
          margin-bottom: 10px;
        }
      }
    }
  }

  p.cancelled {
    border: $ruuby-red solid 1px;
    border-radius: 7px;
    padding: 0 5px;
    font-weight: bold;
    &:hover {
      cursor: default;
    }
  }
}