.account-section {
  padding-top: 125px;
  background: $ruuby-grey-bg;
  padding-bottom: 50px;
  min-height: 90vh;

  h1, h2 {
    font-size: 2.3em;
    color: $ruuby-grey;
  }
  p.header-text {
    font-size: 1em !important;
  }
  hr {
    width: 50%;
  }
  #top-section {
    margin-bottom: 25px;
    p {
      font-size: .9em;
      color: $ruuby-blue;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  @include tablet-screens {
    hr {
      width: 60%;
    }
  }

  /* login-form */
  .form-wrapper {
    padding: 0 37%;
    .input-wrapper {
      margin: 20px 0;
      &:first-child {
        margin-top: 30px;
      }
      label {
        color: $ruuby-blue;
      }
      input {
        position: relative;
        display: block;
        height: 55px;
        width: 100%;
        padding: 2px 0 2px 10px;
        border: 1px solid $ruuby-blue;
        background: rgba(255, 255, 255, 0.4);
      }
      .submit-btn, button.submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 55px;
        background-color: $ruuby-blue;
        margin-top: 25px;
        p, a {
          margin: 0;
          font-family: "nunito_sansbold";
          color: white;
          font-size: 1.2em;
        }
        &:hover {
          cursor: pointer;
        }
        &.facebook {
          background: $facebook-blue;
          position: relative;
          margin-top: 0;
          svg {
            position: absolute;
            width: 30px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      label.forget {
        margin-top: 10px;
        a {
          color: $ruuby-blue;
          text-decoration: underline;
        }
      }
      label.error {
        color: $ruuby-red;
        font-size: .9em;
      }
    }

    @include tablet-screens {
      padding: 0 25%;
    }
    @include mobile-screens {
      padding: 0 10%;
    }
  }

  /* profile-navbar */
  #profile-navbar {
    .nav-top {
      padding: 10px 0 0 0;
      background: white;
      .nav-wrapper {
        position: relative;
        display: inline-flex;
        justify-content: center;
        height: 40px;
        width: 100%;
        .nav-item {
          position: relative;
          display: inline-block;
          height: 100%;
          text-align: center;
          padding: 0 20px;
          opacity: .9;
          transition: opacity .3s linear;
          &.active {
            border-bottom: 1px solid $ruuby-grey;
          }
          .nav-item-name {
            font-family: "nunito_sansbold";
            text-transform: uppercase;
            color: $ruuby-grey;
            transition: color .3s linear;
            margin: 5px 20px 0 20px;
          }
          &:hover {
            cursor: pointer;
            opacity: 1;
            text-decoration: none;
            .treatment-name {
              color: black;
            }
          }
        }
      }
    }

    @include tablet-screens {
      .nav-top {
        padding: 5px 0 0 0;
        .nav-wrapper {
          height: 35px;
          .nav-item {
            padding: 0 10px;
            font-size: .8em;
            .nav-item-name {
              margin: 5px 10px 0 10px;
            }
          }
        }
      }
    }
    @include mobile-screens {
      .nav-top {
        .nav-wrapper {
          .nav-item {
            display: none;
            &.active {
              display: block;
            }
            .nav-item-name {

            }
          }
        }
      }
    }
  }

  /* Account content */
  .account-content {
    margin-top: 30px;
    .no-bookings {
      color: $ruuby-blue;
    }
    /* Profile content */
    &#profile {
      .col-md-6 {
        text-align: center;
        .profile-img {
          margin: 25px auto;
          background: $ruuby-pink;
          width: 100px;
          height: 100px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "bigcaslon_romregular";
          color: $ruuby-grey;
          h2 {
            margin-top: .4em;
          }
        }
        .profile-data {
          .animated_input {
            margin: 10px 0;
            .input-wrapper {
              position: relative;
              display: inline-block;
              margin: 0 2.5px;
              height: 35px;
              input {
                display: inline;
                border: none;
                background: none;
                text-align: center;
                font-family: "nunito_sansregular";
                color: $ruuby-grey;
                font-size: 1.2em;
                margin: 0 2.5px;
                width: 100%;
              }
              .underline {
                position: absolute;
                bottom: 0;
                background: $ruuby-grey-mid;
                width: 100%;
                height: 3px;
                // opacity: 0;
              }
              &:nth-child(2) {
                margin-right: 10px;
              }
              #load-bar {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3px;
              }
              label.error {
                font-size: .7em;
                margin-top: 5px;
                width: 200%;
                left: -50%;
                position: absolute;
                bottom: -1.5em;
                margin-bottom: 0;
                color: $ruuby-red;
              }
            }
            .input-feedback {
              position: absolute;
              display: inline-block;
              svg, img {
                width: 20px;
                height: 30px;
                margin: 0 2.5px;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 25px;
                height: auto;
                margin: 0 2.5px;
                &:hover {
                  cursor: pointer;
                }
              }
            }
            &.name {
            }
          }
        }
      }
    }

    @include mobile-screens {
      &#profile {
        .col-md-6 {
          .profile-img {
            h2 {
            }
          }
          .profile-data {
            .animated_input {
              margin-left: calc(calc(5% + 15px) * -1);
              .input-wrapper {
                input {
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }
    }
  }

  @mixin side-padding {
    padding-right: 10px;
    padding-left: 10px;
  }
  .search-result {
    //bootstrap overides
    flex: 0 0 49%;
    max-width: 49%;
    transition: border-color .3s linear;
    background: white;
    border: 3px solid white;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;
    hr {
      margin: 0;
      background: $ruuby-grey-light;
      width: 100% !important;
    }
    .top {
      color: $results-title-color;
      @include side-padding;
      display: flex;
      align-items: center;
      background: white;
      padding-bottom: 1rem;
      .img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-right: 10px;
        margin-top: 10px;
      }
      .rating {
        color: $results-rating-color;
      }
      .txt {
        color: $ruuby-blue;
        flex-grow: 2;
        p {
          &:first-child {
            font-family: "bigcaslon_romregular";
            font-size: 1.8em;
            margin-bottom: 0;
            margin-top: 5px;
          }
          &:last-child {
            font-family: "nunito_sanssemibold";
            font-size: 1.1em;
          }
        }
      }
    }
    .middle {
      @include side-padding;
      color: $ruuby-blue;
      background: white;
      padding-bottom: 1rem;
      padding-top: 1rem;
      p.description {
        font-family: "nunito_sansregular";
        font-size: 1.1em;
        line-height: 1.5em;
        span.readMore {
          font-family: "nunito_sansbold" !important;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .bottom-divider {
      margin-bottom: 0;
    }
    .btn {
      background: white;
      transition: all .3s linear;
      @include side-padding;
      text-align: center;
      font-family: "nunito_sansbold";
      color: $ruuby-grey;
      width: 100%;
      font-size: 1.5em;
      padding-top: 1rem;
      padding-bottom: 0;
      border-radius: 0;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      background: $result-hover-color;
      border-color: $result-hover-color;
      .btn {
        background: $result-hover-color;
        color: white;
      }
    }

    &:visited, &:focus, &:hover {
      text-decoration: none !important;
    }
  }

  @include mobile-screens {
    .search-result {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
