@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.home-search-input {
  .input-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35vw;
    left: 50%;
    transform: translateX(-50%);
    height: 7vh;
    min-height: 70px;
    background: white;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
    #PlacesAutocomplete__root {
      display: inline-block;
      height: 100%;
      width: 70%;
      border: none;
      input {
        height: 100%;
        border: none;
        font-size: 1.2em;
        font-family: "nunito_sansregular";
        color: $ruuby-grey;
        padding: 0 7% !important;
        width: 100%;
      }
      #PlacesAutocomplete__autocomplete-container {
        border: none;
        font-family: "nunito_sansregular";
        color: $ruuby-grey-light !important;
        font-size: 1.2em;
        div {
          border: none;
        }
      }
    }
    .input-submit {
      background: #505766;
      // border-left: 1px solid $ruuby-grey-light;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        width: 1.5em;
        display: inline-block;
        padding-right: 5px;
        path {
          fill: $ruuby-grey-light;
        }
      }
      p {
        margin: 0;
        font-family: "nunito_sanssemibold";
        color: white;
        display: inline-block;
        font-size: 1.3em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .postcode-error {
    position: relative;
    width: 35vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: $alert-panel-bg;
    padding: 0.5em 1em;
    font-size: 1em;
    color: $alert-panel-text;
    text-align: center;
  }
}


@include tablet-mobile-screens {
  .home-search-input {
    .input-wrapper {
      #PlacesAutocomplete__root {
        input {
          font-size: 1.2em;
        }
        #PlacesAutocomplete__autocomplete-container {
          font-size: 1.2em;
        }
      }
    }
  }
}

@include mobile-screens {
  .home-search-input {
    .input-wrapper {
      width: 90vw;
      min-height: 60px;
      box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
      #PlacesAutocomplete__root {
        input {
          font-size: 1em !important;
        }
        #PlacesAutocomplete__autocomplete-container {
          font-size: 1em;
        }
      }
      .input-submit {
        svg {
          width: 1.2em;
        }
        p {
          font-size: 1.1em;
        }
      }
    }
  }
}

@include tablet-screens {
  .home-search-input {
    .input-wrapper {
      width: 60vw;
    }
  }
}
