.treatments-section {
  background: $ruuby-pink;
  .treatment-top {
    padding: 10px 0 0 0;
    .treatments-wrapper {
      position: relative;
      height: 40px;
      width: 100%;
      overflow: hidden;
      div[class$="-arrow"] {
        width: 8px;
        position: absolute;
        display: inline-flex;
        align-items: center;
        height: 100%;
        top: 0;
        svg {
          width: 100%;
        }
      }
      .left-arrow, .right-arrow {
        &:hover {
          cursor: pointer;
        }
      }
      .left-arrow {
        left: 7%;
        transform: rotate(180deg);
      }
      .right-arrow {
        right: 7%;
      }
      .belt-gradient-left {
        position: absolute;
        left: 10%;
        top: 0;
        width: 50px;
        height: 50px;
        z-index: 100;
        background: linear-gradient(to right, $ruuby-pink 0%,rgba(255,255,255,0) 100%);
      }
      .belt-gradient-right {
        position: absolute;
        right: 10%;
        top: 0;
        width: 50px;
        height: 50px;
        font-style: italic;          
        z-index: 100;
        background: linear-gradient(to left, $ruuby-pink 0%,rgba(255,255,255,0) 100%);
      }
      .treatments-belt-wrapper {
        width: 80%;
        margin-left: 10%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 100px;
        position: relative;
        .treatments-belt {
          width: 111em;
          padding-left: 50px;
          .treatment {
            position: relative;
            display: inline-block;
            text-align: center;
            padding: 0 20px;
            border-right: 1px solid fade-out($ruuby-grey, .8);
            opacity: .9;
            transition: opacity .3s linear;
            &:last-child {
              border-right: none;
            }
            .treatment-img {
              width: 150px;
              height: 100px;
              padding: 5% 0;
              background-size: contain !important;
              background-position: center center !important;
            }
            #nails {
              background: url("../assets/imgs/nails@2x.png") no-repeat;
            }
            #hair {
              background: url("../assets/imgs/hair@2x.png") no-repeat;
            }
            #waxing {
              background: url("../assets/imgs/waxing@2x.png") no-repeat;
            }
            #eyes {
              background: url("../assets/imgs/eyes@2x.png") no-repeat;
            }
            #tanning {
              background: url("../assets/imgs/tanning@2x.png") no-repeat;
            }
            #makeup {
              background: url("../assets/imgs/makeup@2x.png") no-repeat;
            }
            #wellness {
              background: url("../assets/imgs/wellness@2x.png") no-repeat;
            }
            #massage {
              background: url("../assets/imgs/massage@2x.png") no-repeat;
            }
            #facial {
              background: url("../assets/imgs/facial@2x.png") no-repeat;
            }
            .treatment-name {
              font-family: "nunito_sansbold";
              text-transform: uppercase;
              color: $ruuby-grey;
              transition: color .3s linear;
              margin: 5px 20px 0 20px;
            }
            &:hover {
              cursor: pointer;
              opacity: 1;
              text-decoration: none;
              .treatment-name {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .treatment-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
    .col-md-6 {
      text-align: center;
      .featured-img {
        width: 40vh;
        height: 40vh;
        border-radius: 50%;
      }
      .featured-txt {
        padding: 0 5%;
        line-height: 2.5em;
        margin-top: 5%;
        .ruuby-header {
          margin-bottom: 50px;
        }
        h2.ruuby-txt {
          padding: 0 12%;
          margin: 5px 0 50px 0;
          line-height: 2em;
        }

        .button-link {
          &:hover {
            text-decoration: none !important;
          }
        }

        .ruuby-btn {
          width: 50%;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

/* Mobile */
  @include mobile-screens {
    .treatment-top {
      height: 50px;
      .treatments-wrapper {
        height: 30px;
        .left-arrow {
          left: 2.5%;
        }
        .right-arrow {
          right: 2.5%;
        }
        .belt-gradient-right {
          right: 7.5%;
        }
        .belt-gradient-left {
          left: 7.5%;
        }
        .treatments-belt-wrapper {
          display: block;
          padding-bottom: 70px;
          width: 85%;
          margin-left: 7.5%;
          .treatments-belt {
            width: 91em;
            .treatment {
              padding: 0 5px;
              .treatment-img {
                width: 125px;
                height: 75px;
              }
              #nails {
                background: url("../assets/imgs/nails.png") no-repeat;
              }
              #hair {
                background: url("../assets/imgs/hair.png") no-repeat;
              }
              #waxing {
                background: url("../assets/imgs/waxing.png") no-repeat;
              }
              #eyes {
                background: url("../assets/imgs/eyes.png") no-repeat;
              }
              #tanning {
                background: url("../assets/imgs/tanning.png") no-repeat;
              }
              #makeup {
                background: url("../assets/imgs/makeup.png") no-repeat;
              }
              #wellness {
                background: url("../assets/imgs/wellness.png") no-repeat;
              }
              #massage {
                background: url("../assets/imgs/massage.png") no-repeat;
              }
              #facial {
                background: url("../assets/imgs/facial.png") no-repeat;
              }
            }
          }
        }
      }
    }
    .treatment-bottom {
      .col-md-6 {
        .featured-img {
          width: 80%;
          margin-bottom: 25px;
        }
        .featured-txt {
          padding: 0 2%;
          line-height: 2em;
          margin-top: 3%;
          .ruuby-header {
            margin-bottom: 20px;
            font-size: 2.1em;
          }
          .ruuby-title {
            font-size: 1.3em;
          }
          .ruuby-txt {
            padding: 0 5%;
            margin-bottom: 30px;
            font-size: 1em;
          }
          .ruuby-btn {
            width: 75%;
          }
        }
      }
    }
  }

/* Tablet */
  @include tablet-screens {
    .treatment-bottom {
      .col-md-6 {
        .featured-img {
          width: 30vh;
          height: 30vh;
          margin-bottom: 25px;
        }
        .featured-txt {
          margin-top: 2.5%;
          padding: 0;
          line-height: 2em;
          .ruuby-header {
            margin-bottom: 10px;
            font-size: 2em;
          }
          .ruuby-txt {
            padding: 0;
            margin-bottom: 20px;
          }
          .ruuby-btn {
            width: 90%;
          }
        }
      }
    }
  }
}
