.magazine-section {
  background: white;
  text-align: center;
  padding: $section-padding;

  .col {
    margin-bottom: 30px;
  }

  .home-magazine {
    &:hover {
      text-decoration: none !important;
    }

    .mag-img {
      position: relative;
      display: block;
      margin-left: 10%;
      border: 10px solid $ruuby-pink;
      width: 80%;
      height: calc(100vw * .225);
      background: $ruuby-pink;
      overflow: hidden;
      margin-bottom: 20px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    p {
      margin: 0;
      line-height: 1.8em;
      padding: 0 10%;
      color: $ruuby-grey;
    }
    .mag-published {
      font-family: "nunito_sanssemibold";
      font-size: 1.1em;
    }
    .mag-title {
      font-family: "nunito_sansbold";
      font-size: 1.2em;
    }
    .mag-text {
      font-family: "nunito_sansregular";
      font-size: 0.9em;
    }
  }

  .button-link {
    &:hover {
      text-decoration: none !important;
    }
  }

  .ruuby-btn {
    margin: 50px 0 0 0;
    width: 25%;
    margin-left: 37.5%;
    padding: 15px 0;
    p {
      font-size: 1.1em;
    }
  }

/* Mobile */
  @include tablet-mobile-screens {
    padding-right: 0;
    padding-left: 0;
    .col {
      margin-bottom: 30px;
    }
    .home-magazine {
      margin-bottom: 30px;
      .mag-img {
        height: calc(100vw * .7);
      }
    }
    .ruuby-btn {
      margin: 0;
      width: 75%;
      margin-left: 12.5%;
    }
  }

  @include mobile-screens {
    .col-md-4 {
      margin-bottom: 30px;
    }
  }

  @include tablet-screens {
    .home-magazine {
      margin-bottom: 30px;
      .mag-img {
        margin-left: 5%;
        width: 90%;
        height: calc(100vw * .3);
      }
      p {
        padding: 0 5%;
      }
    }
    .ruuby-btn {
      width: 50%;
      margin-left: 25%;
    }
  }
}
