.social-section {
  padding: $section-padding 0;
  text-align: center;
  .ruuby-header {
    margin-bottom: 40px;
  }
  .posts {
    .col-md-2 {
      padding: 2px;
      height: calc(100vw / 6.8);
      overflow: hidden;
    }
  }

  .button-link {
    &:hover {
      text-decoration: none !important;
    }
  }

  .ruuby-btn {
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
  }

  @include mobile-screens {
    .posts {
      .col-xs-6 {
        width: 50%;
        height: 40vw;
      }
    }
    .ruuby-btn {
      width: 70%;
      margin-left: 15%;
    }
  }
  @include tablet-screens {
    .ruuby-btn {
      width: 50%;
      margin-left: 25%;
    }
  }
}