.publicity-section {
  background: $ruuby-grey-light;
  padding-bottom: $section-padding;
  padding-top: $section-padding;
  .logos {
    padding: 0;
    .col-xs-6 {
      text-align: center;
      padding: 30px 0;
      width: 49%;
      height: 100px;
      svg {
        width: 70%;
        max-width: 12em;
        path {
          fill: fade-out($ruuby-blue, .2);
          transition: fill .3s ease-in-out;
          &.transparent {
            fill: transparent !important;
          }
        }
      }
      &.active {
        svg {
          path {
            fill: $ruuby-grey;
            &.transparent {
              fill: transparent !important;
            }
          }
        }
      }
    }
  }
  .statements {
    color: $ruuby-grey;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    .text {
      font-family: "adobe_caslon_proregular";
      font-size: 2.1em;
      line-height: 1.2em;
      display: block;
    }
    .company {
      font-family: "nunito_sanssemibold";
      font-size: 1.1em;
    }
  }

  @include tablet-mobile-screens {
    .logos {
      .col-xs-6 {
        width: 50%;
        padding: 5px 0;
        height: auto;
      }
    }
    .statements {
      margin-top: 30px;
      .text {
        font-size: 1.5em;
      }
      .company {
        font-size: 1em;
      }
    }
  }
  @include tablet-screens {
    .logos {
      .col-xs-6 {
        padding: 15px 0;
      }
    }
    .statements {
      margin-top: 0;
    }
  }
}
