.the-offer-section {
  padding: 0 0 5vh 0;
  .offer-header-row {
    text-align: center;
  }
  .offer-bottom-section {
    color: $ruuby-blue;
    text-align: center;
    line-height: 1.3em;
    .col-md-4 {
      padding: 50px 0;
    }
    .col-md-4:nth-child(2) {
      border-right: 1px solid fade-out($ruuby-blue, .5);
      border-left: 1px solid fade-out($ruuby-blue, .5);
    }
    img {
      width: 50%;
      margin-bottom: 10px;
    }
    p.order {
      font-family: "handelsontwo";
      font-size: 2.2em;
    }
    p {
      font-family: "nunito_sanssemibold";
      font-size: 1.1em;
      padding: 0 10%;
    }
  }

  @media (max-width: 767px) {
    .offer-bottom-section {
      margin: 0;
      .col-md-4 {
        padding: 0;
      }
      .col-md-4:nth-child(2) {
        border: none;
      }
    }
  }

  @include tablet-screens {
    .offer-bottom-section {
      .col-md-4 {
        padding: 50px 0 20px 0;
      }
    }
  }
}
