@import "../../../sass/variables";
@import "../../../sass/mixins";

#new-footer {
  background: $ruuby-grey-light;
  text-align: center;
  color: $ruuby-grey;
  padding: $section-padding 0 0 0;

  .signup, .social {
    h2 {
      font-family: "bigcaslon_romregular";
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    p {
      font-family: "nunito_sansregular";
      font-size: 1em;
    }
    .newsletter-input {
      position: relative;
      display: block;
      height: 60px;
      width: 70%;
      margin-left: 15%;
      padding: 2px 0 2px 10px;
      border: 1px solid $ruuby-grey;
      input {
        display: inline-block;
        border: none;
        width: 70%;
        background: transparent;
        height: 50px;
        font-size: 1.3em;
        font-family: "nunito_sanssemibold";
      }
      .submit-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $ruuby-grey;
        width: 29%;
        height: 40px;
        font-family: "nunito_sansbold";
        font-size: 1.4em;
        border-right: none;
        border-top: none;
        border-bottom: none;
        background-color: transparent;
      }
    }
  }

  .emblem {
    svg {
      width: 80%;
      margin-left: 10%;
    }
  }

  .social {
    .social-logos {
      margin: 2em auto 0 auto;
      width: 75%;
      display: flex;
      justify-content: space-around;

      svg {
        height: 20px;
        display: inline-block;
      }
    }
  }

  .sub-nav {
    display: block;
    margin: 2em 0 0 0;
    padding: 2em;
    border-top: #d0d0d0 1px solid;
    font-size: 0.9em;

    .links {
      float: left;

      a {
        font-family: "nunito_sanssemibold";
        color: $ruuby-grey;
        text-decoration: none;
        margin-right: 1.5em;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyright {
      float: right;
      font-family: "nunito_sansregular";
      color: $ruuby-grey;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @include tablet-mobile-screens {
    .signup, .social {
      p:first-child {
        font-size: 1.2em;
      }
      p:last-child {
        font-size: 1em;
      }
      .newsletter-input {
        width: 100%;
        margin-left: 0;
        input {
          padding: 0;
        }
        .submit-btn {
          font-size: 1.2em;
        }
      }
    }
  }

  @include tablet-screens {
    .emblem {
      svg {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  @include mobile-screens {
    .emblem {
      margin-top: 30px;
      svg {
        width: 30%;
        margin-left: 0%;
      }
    }
    .social {
      margin-top: 40px;
    }

    .sub-nav {
      font-size: 0.7em;

      .links {
        float: none;

        a {
          margin: 0 0.5em;
        }
      }

      .copyright {
        margin-top: 1em;
        float: none;
      }
    }
  }
}