/*
* LESS Responsive Grid
* version 0.1
* 
*
* Export: lessc grid.less grid.[version].css | I.E: lessc grid.less grid.01.css
*/
* {
  box-sizing: border-box;
}
.container {
  width: 996px;
  margin: 0 auto;
}
.magazine-container{
    width: 1150px;
    position: relative;
}
.tb-padding-container{
    padding: 40px 0;
}
.lr-padding-container{
     padding: 40px 70px;
}
.row {
  width: 100%;
  display: inline-block;
  margin: 0px;
}
@media screen and (min-width: 0px) and (max-width: 639px) {
  .container {
    width: 100%;
  }
  .magazine-container{
        width: 100%;
    }
  .lr-padding-container{
     padding: 30px 10px;
    }
  .xsmall-hidden{
      display: none;
  }
  .c-xsmall-12 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-11 {
    width: 91.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-10 {
    width: 83.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-9 {
    width: 75%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-8 {
    width: 66.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-7 {
    width: 58.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-6 {
    width: 50%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-5 {
    width: 41.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-4 {
    width: 33.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-3 {
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-2 {
    width: 16.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-xsmall-1 {
    width: 8.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .offset-xsmall-12 {
    margin-left: 100%;
  }
  .offset-xsmall-11 {
    margin-left: 91.66666667%;
  }
  .offset-xsmall-10 {
    margin-left: 83.33333333%;
  }
  .offset-xsmall-9 {
    margin-left: 75%;
  }
  .offset-xsmall-8 {
    margin-left: 66.66666667%;
  }
  .offset-xsmall-7 {
    margin-left: 58.33333333%;
  }
  .offset-xsmall-6 {
    margin-left: 50%;
  }
  .offset-xsmall-5 {
    margin-left: 41.66666667%;
  }
  .offset-xsmall-4 {
    margin-left: 33.33333333%;
  }
  .offset-xsmall-3 {
    margin-left: 25%;
  }
  .offset-xsmall-2 {
    margin-left: 16.66666667%;
  }
  .offset-xsmall-1 {
    margin-left: 8.33333333%;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .container {
    width: 100%;
  }
  .magazine-container{
        width: 100%;
    }
  .lr-padding-container{
     padding: 35px 30px;
}
  .small-hidden{
      display: none;
  }
  .c-small-12 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-11 {
    width: 91.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-10 {
    width: 83.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-9 {
    width: 75%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-8 {
    width: 66.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-7 {
    width: 58.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-6 {
    width: 50%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-5 {
    width: 41.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-4 {
    width: 33.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-3 {
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-2 {
    width: 16.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-small-1 {
    width: 8.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .offset-small-12 {
    margin-left: 100%;
  }
  .offset-small-11 {
    margin-left: 91.66666667%;
  }
  .offset-small-10 {
    margin-left: 83.33333333%;
  }
  .offset-small-9 {
    margin-left: 75%;
  }
  .offset-small-8 {
    margin-left: 66.66666667%;
  }
  .offset-small-7 {
    margin-left: 58.33333333%;
  }
  .offset-small-6 {
    margin-left: 50%;
  }
  .offset-small-5 {
    margin-left: 41.66666667%;
  }
  .offset-small-4 {
    margin-left: 33.33333333%;
  }
  .offset-small-3 {
    margin-left: 25%;
  }
  .offset-small-2 {
    margin-left: 16.66666667%;
  }
  .offset-small-1 {
    margin-left: 8.33333333%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1136px) {
   .medium-hidden{
      display: none;
  }
  .container{
      width: 100%;
  }
  .magazine-container{
        width: 100%;
    }
  .c-medium-12 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-11 {
    width: 91.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-10 {
    width: 83.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-9 {
    width: 75%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-8 {
    width: 66.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-7 {
    width: 58.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-6 {
    width: 50%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-5 {
    width: 41.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-4 {
    width: 33.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-3 {
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-2 {
    width: 16.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-medium-1 {
    width: 8.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .offset-medium-12 {
    margin-left: 100%;
  }
  .offset-medium-11 {
    margin-left: 91.66666667%;
  }
  .offset-medium-10 {
    margin-left: 83.33333333%;
  }
  .offset-medium-9 {
    margin-left: 75%;
  }
  .offset-medium-8 {
    margin-left: 66.66666667%;
  }
  .offset-medium-7 {
    margin-left: 58.33333333%;
  }
  .offset-medium-6 {
    margin-left: 50%;
  }
  .offset-medium-5 {
    margin-left: 41.66666667%;
  }
  .offset-medium-4 {
    margin-left: 33.33333333%;
  }
  .offset-medium-3 {
    margin-left: 25%;
  }
  .offset-medium-2 {
    margin-left: 16.66666667%;
  }
  .offset-medium-1 {
    margin-left: 8.33333333%;
  }
}
@media screen and (min-width: 1137px) {
    .large-hidden{
      display: none;
  }
  .c-large-12 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-11 {
    width: 91.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-10 {
    width: 83.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-9 {
    width: 75%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-8 {
    width: 66.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-7 {
    width: 58.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-6 {
    width: 50%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-5 {
    width: 41.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-4 {
    width: 33.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-3 {
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-2 {
    width: 16.66666667%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .c-large-1 {
    width: 8.33333333%;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
  }
  .offset-large-12 {
    margin-left: 100%;
  }
  .offset-large-11 {
    margin-left: 91.66666667%;
  }
  .offset-large-10 {
    margin-left: 83.33333333%;
  }
  .offset-large-9 {
    margin-left: 75%;
  }
  .offset-large-8 {
    margin-left: 66.66666667%;
  }
  .offset-large-7 {
    margin-left: 58.33333333%;
  }
  .offset-large-6 {
    margin-left: 50%;
  }
  .offset-large-5 {
    margin-left: 41.66666667%;
  }
  .offset-large-4 {
    margin-left: 33.33333333%;
  }
  .offset-large-3 {
    margin-left: 25%;
  }
  .offset-large-2 {
    margin-left: 16.66666667%;
  }
  .offset-large-1 {
    margin-left: 8.33333333%;
  }
}
