.body {
  font-family: "bigcaslon_romregular";
}

.busy-indicator {
  height: 32px;
}

.intro-panel {
  background-color: #fbece9;
  text-align: center;
  padding: 10px 10%;
  font-size: 1.3em;
}
.intro-panel p {
  margin-top: 0;
}
.intro-panel h1 {
  font-size: 1.5em;
  font-family: "bigcaslon_romregular";
  margin-bottom: 5px;
}

.tab-panel {
  width: 450px;
  z-index: 10;
  background-color: white;
  border: #e0e0e0 1px solid;
  display: flex;
  flex-direction: column;
}

.tab-panel .tab-panel-tabs {
  display: flex;
}

.tab-panel .tab-panel-tabs .tab-panel-tab {
  flex-grow: 1;
  height: 52px;
  padding-top: 19px;
  text-align: center;
  text-transform: uppercase;
  font: 800 12px 'CenturyGothic';
  overflow: hidden;
  cursor: pointer;
}

.tab-panel .tab-panel-tabs .tab-panel-tab-unselected-left {
  border-bottom: #e0e0e0 1px solid;
  border-right: #e0e0e0 1px solid;
  background-color: #fbece9;
}

.tab-panel .tab-panel-tabs .tab-panel-tab-unselected-right {
  border-bottom: #e0e0e0 1px solid;
  border-left: #e0e0e0 1px solid;
  background-color: #fbece9;
}

.tab-panel .tab-panel-form {
  text-align: left;
  margin-top: 20px;
  flex-grow: 1;
}

.tab-panel .busy-indicator {
  margin-top: 100px;
}

.tab-panel .tab-panel-form-field {
  width: 250px;
  margin: 10px auto;
}

.tab-panel .tab-panel-form-label {
  display: block;
  font-size: 15px;
  font-family: "bigcaslon_romregular";
}

.tab-panel .tab-panel-form-input input {
  width: 250px;
  font-size: 15px;
  font-family: 'CenturyGothic';
  padding: 8px;
}

.tab-panel .tab-panel-form-field .Select-placeholder {
  text-transform: uppercase;
}

.tab-panel .tab-panel-form-field .Select-control,
.tab-panel .tab-panel-form-field .Select-placeholder,
.tab-panel .tab-panel-form-field .Select-option {
    font-size: 15px;
    font-family: 'CenturyGothic';
}

.tab-panel .tab-panel-form-field .tab-panel-form-submit, .checkout-submit {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1.5px;
  width: 200px;
  border-radius: 5px;
  font-family: 'CenturyGothic';
  display: block;
  margin: 20px auto 0 auto;
  text-decoration: none;
  text-align: center;
}

.tab-panel .tab-panel-form-field .tab-panel-form-submit:hover {
  text-decoration: none !important;
}

.tab-panel-form-error {
  text-align: center;
  color: red;
  font-family: "bigcaslon_romregular";
}

.home-search {
  position: absolute;
  top: 140px;
  left: calc(50% - 225px);
  min-height: 363px;
}

.home-search .tab-panel-form {
  min-height: 100%;
}

.search-results-more-info-btn {
  border-radius: 5px;
  background-color: black;
  color: white;
  font: bold 13px "CenturyGothic";
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: uppercase;
  border: black 2px solid;
}

.search-results-more-info-btn:hover {
  text-decoration: none !important;
  color: white !important;
}
div[class$="-btn"] {
  text-decoration: none !important;
}
.busy-indicator .react-spinner_bar {
  background-color: black;
}

.day-slots {
  text-align: center;
}

.day-slots .day {
  color: #dddddd;
  width: 60px;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  margin: 0 10px 10px 0;
}

.day-slots .day-available {
  color: black;
  cursor: pointer;
}

.day-slots .day-selected {
  color: black;
  border: black 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.day-slots .day .day-slot-day-name {
  display: block;
  text-transform: uppercase;
  font: 12px "CenturyGothic";
}

.day-slots .day .day-slot-date {
  display: block;
  font-size: 35px;
  height: 33px;
  line-height: 46px;
  margin: 5px 0;
}

.day-slots .day .day-slot-month {
  display: block;
  text-transform: uppercase;
  font: 12px "CenturyGothic";
}

.time-slots {
  text-align: center;
}

.time-slots .time {
  color: black;
  width: 100px;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  margin: 0 10px 10px 0;
  font: 15px "CenturyGothic";
  cursor: pointer;
  border-radius: 5px;
  border: 1px #dddddd solid;
}

.time-slots .time-selected {
  border-color: black;
  border-width: 2px;
}

.proceed-btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1.5px;
  width: 200px;
  border-radius: 5px;
  font-family: 'CenturyGothic';
  display: block;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.booking-summary {
  margin: 20px 0;
  font: 16px "CenturyGothic";
  border: #999999 1px solid;
  padding: 10px;
}

.booking-summary-salon-name {
  font-family: "bigcaslon_romregular";
  font-size: 22px;
  text-transform: uppercase;
}

.booking-summary-date-time {
  font-size: 20px;
  margin-top: 5px;
}

.booking-summary-address {
  margin-top: 5px;
}

.booking-summary-card {
  margin-top: 5px;
}

.booking-summary-change {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.booking-summary-change:hover {
  text-decoration: none;
}

.basket-items {
  margin: 20px 0;
  border-bottom: none;
}

.basket-items .basket-item {
  text-align: left;
  font: 600 13px/10px "CenturyGothic";
}

.basket-items .basket-total {
  border-bottom: none;
}

.basket-items .total-item-heading {
  text-align: right;
}

.basket-items .basket-item h4.basket-treatment-title {
  text-transform: uppercase;
}

.basket-btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1.5px;
  width: 200px;
  border-radius: 5px;
  font-family: 'CenturyGothic';
  display: block;
  margin: 10px auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
 }
a.basket-btn:hover {
  text-decoration: none !important;
  color: white !important;
}

.checkout-notes-container,
.checkout-promo-container {
  width: 340px;
  margin: 0 auto;
}

.checkout-promo-input {
  width: 70% !important;
  text-transform: uppercase;
}

.checkout-notes-textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #000;
  padding: 5px;
}

.checkout-promo {
  font: 12px "CenturyGothic";
}

.checkout-submit-container {
  margin-top: 20px;
}

.checkout-submit-container .checkout-submit {
  margin-top: 0;
}

.checkout-errors {
  margin-top: 20px;
  color: red;
  font: 12px "CenturyGothic";
}

.login-register {
  margin: 0 auto;
}

.concierge-arrow {
  transform: scaleX(2) rotate(-90deg) translate(0px, -5px);
  -webkit-transform: scaleX(2) rotate(-90deg) translate(0px, -5px);
  display: inline-block;
}

.make-another-appointment-button {
  width: 300px;
  margin: 20px auto;
}

.search-filters input {
  width: 100%;
  font-size: 15px;
  font-family: 'CenturyGothic';
  padding: 7px;
}

.search-filters .Select-control,
.search-filters .Select-placeholder,
.search-filters .Select-option {
  font-size: 15px;
  font-family: 'CenturyGothic';
  text-align: left;
}


.hp-code-section {
  background-color: #f5f5f5;
}

.hp-code-section .container {
  position: relative;
  height: 554px;
  overflow: hidden;
}

.hp-code-section-phone {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 510px;
  overflow: hidden;
}

.hp-code-section-phone img {
  display: block;
}

.hp-code-section-text {
  position: absolute;
  left: 50px;
  top: 190px;
  width: 500px;
  text-align: center;
}

.hp-code-section-text h2 {
  font-family: "CenturyGothic";
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #444444;
}

.hp-code-section-text p {
  font-family: "bigcaslon_romregular";
  font-size: 30px;
}

.little-book-page .container {
  min-height: initial;
}

@media screen and (min-width: 0px) and (max-width: 959px) {
  .hp-code-section .container {
    height: auto;
  }

  .hp-code-section-phone {
    display: none;
  }

  .hp-code-section-text {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
  }

  .hp-code-section-text p {
    font-size: 25px;
  }
}

.phone-carousel {
  position: absolute;
  overflow: hidden;
  top: 76px;
  left: 57px;
  width: 286px;
  height: 462px;
}

/* Hosted Fields from braintree */
#checkout-form {
  width: 200px;
  margin: 20px auto 0 auto;
}

#checkout-form label {
  display: none;
}

#checkout-form .hosted-field {
  margin-bottom: 10px;
  border: #eeeeee 1px solid;
  height: 38px;
  width: 250px;
  padding: 8px;
  font-size: 15px;
  font-family: "CenturyGothic";
}
#checkout-form .submit-form {
  width: 250px;
}

@media screen and (max-width: 767px) {
  .therapists-img-box {
    height: auto;
  }
}
.container {
  min-height: 70%;
}

h3.other-treatments-header {
  text-transform: uppercase;
  font-family: "bigcaslon_romregular";
  font-size: 25px;
  margin: 20px 0 0 0;
}