$padding: calc(calc(100vw - 500px) / 2);

.about-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  .row {
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    h1 {
      width: 100%;
      display: block;
      font-family: "bigcaslon_romregular";
      color: $ruuby-grey;
    }
    p {
      font-family: "nunito_sansregular";
      color: $ruuby-blue;
    }
  }
  /* ---------------- ABOUT ROW ----------------- */
  .about-row {
    padding: 0 20%;
    padding-top: 100px;
    background: $ruuby-grey-bg;
    color: $ruuby-grey;
    h1 {
      font-family: "nunito_sansbold" !important;
      width: 100%;
      margin: 20px 0;
      font-size: 1em;
    }
    h2 {
      font-family: "adobe_caslon_proregular";
      font-size: 2em;
      color: $ruuby-blue;
    }
    svg {
      width: 3%;
      height: 100px;
      margin: 0 auto;
    }

  @include mobile-screens {
    padding: 80px 3% 20px 3%;
    p {
      font-size: 1.5em;
    }
    svg {
      width: 10%;
      height: 50px;
    }
  }
  @include tablet-screens {
    padding: 100px 10% 20px 10%;
  }
  }
  /* ---------------- OFFER ROW ----------------- */
  .offer-row {
    background: white;
    color: $ruuby-grey;
    padding: 50px 0;
    overflow: hidden;
    p.order {
      width: 100%;
      font-family: "handelsontwo";
      font-size: 2.5em;
      margin: 20px 0 0 0;
    }
    h2 {
      font-family: "nunito_sanssemibold";
      margin: 0 auto;
      padding: 0 50px;
      font-size: 1.1em;
    }
    .icon-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      padding: 50px 10%;
      .icon-wrapper {
        background: $ruuby-pink;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        &.nails {
          .icon {
            background: url(../assets/imgs/nails@2x.png);
            width: 100px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
        &.hair {
          .icon {
            background: url(../assets/imgs/hair@2x.png);
            width: 70px;
            height: 85px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
        &.facial {
          .icon {
            background: url(../assets/imgs/facial@2x.png);
            width: 90px;
            height: 85px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
        &.tanning {
          .icon {
            background: url(../assets/imgs/tanning@2x.png);
            width: 90px;
            height: 90px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
        &.makeup {
          .icon {
            background: url(../assets/imgs/makeup@2x.png);
            width: 90px;
            height: 90px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
        &.wellness {
          .icon {
            background: url(../assets/imgs/wellness@2x.png);
            width: 80px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50% auto;
            transform: translateY(-50%);
          }
        }
      }
    }
    // 2D Carousel
    .offer2carousel-container {
      position: relative;
      display: block;
      width: 100%;
      margin: 50px 0 10px 0;
      overflow: hidden;
      .Slider {
        .frame {
          padding: 0 5px;
          height: auto;
          img {
            width: 100% !important;
          }
        }
        .carousel-controller {
          position: absolute;
          display: flex;
          justify-content: center;
          z-index: 150;
          background: white;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          top: 50%;
          svg {
            width: 40%;
          }
          &.next {
            right: calc(100vw / 3);
            transform: translateX(50%) translateY(-50%);
            svg {
              transform: rotate(-90deg);
            }
          }
          &.previous {
            left: calc(100vw / 3);
            transform: translateX(-50%) translateY(-50%);
            svg {
              transform: rotate(90deg);
            }
          }
        }
        .carousel-dots {
          list-style: none;
          li {
            display: inline-block;
            margin: 10px 5px;
            button {
              width: 100px;
              height: 2px;
              padding: 0;
              border-radius: 0;
              border: none;
              color: transparent;
              background: $ruuby-grey-bg;
            }
            &.slick-active {
              button {
                background: $ruuby-grey-mid;
              }
            }
          }
        }
      }
      // 3D Carousel
      $imgCount: 7;
      #Slider3d {
        perspective: 50vw;
        transform-style: preserve-3d;
        perspective-origin: 50vw;
        height: 40vw;
        position: relative;
        figure {
          position: absolute;
          left: 37.5vw;
          width: 25vw;
          height: calc(25vw * 1.2);
          border: 10px solid $ruuby-pink;
        }
        @for $i from 1 through $imgCount {
          .img#{$i} {
            background: url(../assets/imgs/about/#{$i}@2x.jpg) no-repeat;
            background-size: cover;
          }
        }
      }
      &.carousel-3d {
        .arrow {
          position: absolute;
          width: 2em;
          height: 2em;
          z-index: 150;
          top: 30%;
          svg {
            width: 100%;
            height: 100%;
          }
          &.next {
            right: 20vw;
            svg {
              transform: rotate(-90deg);
            }
          }
          &.previous {
            left: 20vw;
            svg {
              transform: rotate(90deg);
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
        .gradient-left {
          position: absolute;
          left: 10%;
          top: 0;
          width: 30vw;
          height: 40vw;
          z-index: 100;
          background: linear-gradient(to right, white 0%,rgba(255,255,255,0) 100%);
        }
        .gradient-right {
          position: absolute;
          right: 10%;
          top: 0;
          width: 30vw;
          height: 40vw;
          font-style: italic;
          z-index: 100;
          background: linear-gradient(to left, white 0%,rgba(255,255,255,0) 100%);
        }
        .cover-left, .cover-right {
          background: white;
          position: absolute;
          top: 0;
          width: 10%;
          height: 40vw;
          z-index: 100;
        }
        .cover-left {
          left: 0;
        }
        .cover-right {
          right: 0;
        }
      }
    }

  @include mobile-screens {
    p {
      padding: 0 3%;
    }
    .icon-container {
      padding: 30px 0 10px 0;
      .icon-wrapper {
        width: 40vw;
        height: 40vw;
        border-radius: 20vw;
        margin-bottom: 15px;
      }
    }
    .offer2carousel-container {
      .Slider {
        .carousel-controller {
          &.next {
            right: 0;
            svg {
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%) rotate(-90deg);
            }
          }
          &.previous {
            left: 0;
            svg {
              position: absolute;
              right: 5px;
              top: 50%;
              transform: translateY(-50%) rotate(90deg);
            }
          }
        }
        .carousel-dots {
          li {
            button {
              width: 10vw;
            }
          }
        }
      }
      #Slider3d {
        height: 70vw;
        figure {
          left: 25vw;
          width: 50vw;
          height: calc(50vw * 1.2);
        }
      }
      &.carousel-3d {
        .gradient-right {
          height: 70vw;
          right: 0;
          width: 20vw;
        }
        .gradient-left {
          left: 0;
          width: 20vw;
          height: 70vw;
        }
        .cover-right, .cover-left {
          display: none;
        }
        .arrow {
          width: 1.5em;
          height: 1.5em;
        }
        .arrow.next {
          right: 15px;
        }
        .arrow.previous {
          left: -15px;
        }
      }
    }
  }
  @include tablet-screens {
    .icon-container {
      padding: 50px $padding 20px $padding;
      .icon-wrapper {
        margin-bottom: 10px;
      }
    }
    .offer2carousel-container {
      .Slider {
        .carousel-controller.next {
          right: 50px;
        }
        .carousel-controller.previous {
          left: 50px;
        }
      }
      #Slider3d {
        height: 50vw;
        figure {
          left: 30vw;
          width: 40vw;
          height: calc(40vw * 1.2);
        }
      }
      &.carousel-3d {
        .gradient-right {
          height: 50vw;
          right: 5%;
          width: 30vw;
        }
        .gradient-left {
          left: 5%;
          width: 30vw;
          height: 50vw;
        }
        .cover-left, .cover-right {
          width: 5%;
          height: 50vw;
        }
        .cover-left {
          left: 0;
        }
        .cover-right {
          right: 0;
        }
        .arrow {
          width: 1.5em;
          height: 1.5em;
          z-index: 150;
        }
        .arrow.next {
          right: 10vw;
        }
        .arrow.previous {
          left: 10vw;
        }
      }
    }
  }
  }

  /* ---------------- INFO ROW (circle things) ----------------- */
  .info-row {
    background: $ruuby-pink;
    padding-bottom: 50px;
    .circular-info {
      .img-circle-wrapper {
        width: 100%;
        // height: 40vw;
        // height: 100%;
        padding: 5% 10%;
        .img-circle {
          // position: relative;
          // width: 100%;
          // height: 100%;
          // transform: translate(-5%, 50%);
          // img {
          //   position: absolute;
          //   width: 60px;
          //   @for $i from 0 through 32 {
          //     &.img#{$i}  {
          //       $rot: $i * 11.25;
          //       transform: rotate($rot + deg) translateX(13vw);
          //     }
          //   }
          // }
          position: relative;
          width: 100%;
          // height: 100%;
          img {
            // position: absolute;
            position: relative;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
          .header {
            position: absolute;
            // top: 0;
            top: 45%;
            left: 50%;
            // transform: translate(-5%, 50%);
            transform: translate(-50%);
            text-align: center;
            h2 {
              font-family: "bigcaslon_romregular" !important;
              color: $ruuby-grey;
            }
            p {
              font-size: 1.1em;
              font-family: "nunito_sanssemibold" !important;
            }
          }
        }
      }
      .info {
        padding: 0 10%;
        font-size: 1em;
        line-height: 2em;
        text-align: center;
      }
    }

  @include mobile-screens {
    .circular-info {
      padding: 50px 0 0 0;
      .img-circle-wrapper {
        padding: 0;
        // height: 100vw;
        .img-circle {
          // transform: translate(-10%, 50%);
          // img {
          //   width: 40px;
          //   @for $i from 0 through 32 {
          //     &.img#{$i}  {
          //       $rot: $i * 11.25;
          //       transform: rotate($rot + deg) translateX(35vw);
          //     }
          //   }
          // }
          img {
            width: 100%;
          }
          .header {
            h2 {
              font-size: 1.8em;
            }
            p {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
  @include tablet-screens {
    .circular-info {
      padding: 0;
      .img-circle-wrapper {
        // height: 100%;
        .img-circle {
          // transform: translate(-10%, 50%);
          // img {
          //   width: 50px;
          //   @for $i from 0 through 32 {
          //     &.img#{$i}  {
          //       $rot: $i * 11.25;
          //       transform: rotate($rot + deg) translateX(18vw);
          //     }
          //   }
          // }
          img {
            width: 100%;
          }
          .header {
            h2 {
              font-size: 1.8em;
            }
            p {
              font-size: 1em;
            }
          }
        }
      }
      .info {
        padding: 0;
      }
    }
  }
  }

  /* ---------------- PRESS ROW ----------------- */
  .press-info {
    padding: 5vw 5%;
    .logo-container {
      margin: 50px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      .logo {
        width: 10vw;
        svg {
          width: 100%;
          height: 100px;
          path {
            fill: $ruuby-grey;
            &.transparent {
              fill: transparent !important;
            }
          }
        }
      }
    }
    .links-container {
      width: 100%;
      display: block;
      .link {
        position: relative;
        display: block;
        width: 100%;
        border-top: 1px solid $ruuby-grey-mid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $ruuby-blue;
        padding: 12px 0;
        &:hover {
          text-decoration: none;
          color: $ruuby-grey;
        }
        .date {
          margin-right: 30px;
          font-size: .9em;
          font-family: "nunito_sansbold";
          min-width: 4em;
          max-width: 4em;
        }
        .title {
          text-align: left;
          font-size: 1.8em;
          font-family: "bigcaslon_romregular";
          flex-grow: 2;
        }
        .hyper {
          font-size: 1em;
          width: 2em;
          font-family: "nunito_sanssemibold";
          min-width: 4em;
          max-width: 4em;
        }
      }
    }

  @include mobile-screens {
    padding: 10vw 15px;
    .logo-container {
      margin: 10px 0 50px 0;
      .logo {
        width: 25vw;
        margin: 10px 0;
        svg {
          height: 70px;
        }
      }
    }
    .links-container {
      .link {
        .date {
          font-size: .7em;
          margin-right: 15px;
        }
        .title {
          font-size: 1.3em;
        }
        .hyper {
          font-size: .8em;
        }
      }
    }
  }
  @include tablet-screens {
    .logo-container {
      .logo {
        svg {
          height: 40px;
        }
      }
    }
    .links-container {
      .link {
        .date {
          margin-right: 20px;
          font-size: .8em;
        }
        .title {
          font-size: 1.5em;
        }
        .hyper {
          font-size: .9em;
        }
      }
    }
  }
  }
}
