.ruuby-categories {
  background: $ruuby-grey-bg;
  padding: 100px 5% 5% 5%;
  background: $ruuby-grey-bg;

  .categories-row {
    padding-top: 20px;
    .categories-wrapper {
      width: 100%;
      hr {
        width: 77%;
      }
      .row {
        .col-md-5col {
          border-right: 1px solid $ruuby-grey-mid;
          .category {
            text-align: center;
            position: relative;
            display: block;
            height: 14vw;
            width: 100%;
            transition: background .2s linear;
            svg {
              width: 20px;
              position: absolute;
              right: 15px;
              top: 10px;
            }
            img {
              width: 50%;
              margin-left: 50%;
              margin-top: 30px;
              transform: translateX(-50%);
              &.eyes {
                margin-top: 70px;
              }
            }
            h5 {
              position: absolute;
              bottom: 10px;
              margin-left: 50%;
              transform: translateX(-50%);
              font-family: "nunito_sansregular";
              color: $ruuby-grey;
            }
            img:hover, h5:hover, svg {
              cursor: pointer;
            }
            &:hover {
              background: white;
            }
            &:visited, &:focus {
              outline: 0;
            }
          }
          .ReactModal__Content {
            .logo {
              svg {
                width: 20% !important;
              }
            }
          }
          hr {
            width: 90%;
            margin-left: 5%;
          }
          &:nth-child(4) {
            border: none;
          }
        }
        &.third {
          .col-md-5col {
            &:nth-child(3) {
              border: none;
            }
          }
        }
      }
    }
  }

@include mobile-screens {
  padding: 70px 0 30px 0;
  .categories-row {
    .categories-wrapper {
      hr {
        width: 90%;
      }
      .row {
        .col-md-5col {
          border-right: 1px solid $ruuby-grey-mid;
          &:nth-child(2) {
            border: none;
          }
          .category {
            height: 43vw;
          }
        }
      }
    }
  }
}
@include tablet-screens {
  .categories-row {
    .categories-wrapper {
      hr {
        width: 87%;
      }
      .row {
        .col-md-5col {
          border-right: 1px solid $ruuby-grey-mid;
          &:nth-child(3) {
            border: none;
          }
          .category {
            height: 27vw;
          }
        }
      }
    }
  }
}
}

.ReactModal__Content {
  font-family: "nunito_sanssemibold";
  color: $ruuby-grey;
  text-align: center;
  padding: 20px 40px !important;
  top: 50%;
  .close, .close-icon {
    font-family: "nunito_sansregular";
    font-weight: lighter;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header {
    margin: 20px 0 30px 0;
    font-family: "bigcaslon_romregular";
    h3 {
      position: relative;
      display: inline-block;
      margin: 0 15px;
    }
    .prev-arrow {
      svg {
        transform: rotate(90deg);
      }
    }
    .next-arrow {
      svg {
        transform: rotate(-90deg);
      }
    }
    .prev-arrow, .next-arrow {
      display: inline-block;
      width: 5%;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      svg {
        width: 100%;
      }
    }
  }
  .logo {
    margin-bottom: 30px;
    svg {
      width: 20%;
      max-height: 200px;
    }
  }
  .description {
    margin-bottom: 30px;
  }
  .featured {
    h6 {
      font-family: "nunito_sansbold";
    }
    a {
      text-decoration: underline;
      color: $ruuby-grey;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
  .newsletter-input {
    form {
      input:first-child {
        float: left;
      }
    }
  }

  @include mobile-screens {
    width: 95vw;
    top: 100px !important;
    padding: 10px 20px !important;
    .logo {
      svg {
        width: 40%;
      }
    }
    .header {
      .prev-arrow, .next-arrow {
        width: 10%;
      }
    }
  }
  @include tablet-screens {
    width: 80vw;
    top: 125px !important;
    .logo {
      svg {
        width: 30%;
      }
    }
  }
}
