.hp-section-four {
  .container {
    h2 {
      font-size: 2em;
      color: $ruuby-grey;
      text-transform: none;
    }
    .content {
      margin-bottom: 50px;
      .booking-summary {
        font-family: "nunito_sansregular" !important;
        border-color: $ruuby-grey-light;
        background: $ruuby-grey-light;
        .booking-summary-salon-name {
          text-transform: none;
          font-family: "nunito_sansregular";
        }
      }
      .basket-items {
        ul {
          padding: 0;
          list-style: none;
          margin: 0;
          text-align: left;
          li {
            border-bottom: 2px solid #eeeeee;
            .basket-item {
              .pointer {
                padding: 0;
                .treatment-info-toggle {
                  padding: 30px 0;
                  p, .treatment-price {
                    margin: 0;
                    font-family: 'nunito_sansbold';
                    font-size: 1.2em;
                    line-height: 1.1em;
                    display: inline-block;
                    color: $ruuby-grey;
                  }
                  &.promo, &.total {
                    p {
                      font-size: 1.4em;
                    }
                    p, .treatment-price {
                      color: black;
                    }
                  }
                }
              }
            }

            &.basket-total {
              .basket-item {
                padding-top: 20px;
                .total-item-heading, .treatment-price {
                  font-family: "nunito_sansbold";
                  font-size: 1.3em;
                }
              }
            }
          }
        }
      }
    }
    .login-register {
      max-width: 95%;
      .tab-panel-tabs {
        .tab-panel-tab {
          font-family: "nunito_sanssemibold";
        }
        .tab-panel-tab-unselected-left, .tab-panel-tab-unselected-right {
          background: $ruuby-pink;
        }
      }
      .home-search-form {
        label {
          font-family: "nunito_sansregular" !important;
        }
        .tab-panel-form-field {
          padding-top: 5px;
          &.submit-form {
            text-align: center;
            .forgot {
              margin-top: 5px;
              color: $ruuby-grey;
              &:hover {
                cursor: pointer;
                color: $ruuby-blue-dark;
              }
            }
          }
        }
      }
      .cardForm {
        .ruuby-btn-dark {
          width: 250px;
        }
      }
    }
    .error-message {
      color: #bf1111 !important;
      font-family: "nunito_sansregular";
      font-size: 1em;
    }
    .register-errors {
      text-align: left;
    }
    .booking-day-select-header {
      font-family: "nunito_sansregular" !important;
      font-weight: normal;
      color: $ruuby-grey;
    }
    .checkout-submit-container {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 300px;
      .ruuby-btn-dark {
        font-size: 1.3em;
        text-transform: none;
      }
    }
    input.checkout-promo-input {
      height: 40px;
    }
    .redeem-promo-code {
      height: 40px;
      width: 28%;
      padding: 0;
    }
    .use-address-btn {
      width: 130px;
      height: 40px;
      padding: 10px;
    }
  }

  .booking-salon-info {
    .btn-wrapper {
      width: 50%;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }

  @include mobile-screens {
    .container {
      width: 100%;
      .row {
        padding-left: 0;
        padding-right: 0;
        .c-xsmall-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .payment-content {
        width: 100%;
      }
      .payment-row-text {
        width: calc(100% - 60px);
        text-align: left;
      }
      .use-address-btn {
        width: 60px;
        padding: 10px 0;
      }

      .booking-new-card-box {
        width: 100%;
      }

      #checkout-form {
        width: 100%;
        .hosted-field {
          width: 100%;
        }
        .submit-form {
          width: 100%;
        }
      }
    }
  }
}
