.email-signup {
  background: rgba(245, 235, 231, 0.95);
  position: fixed;
  z-index: 999999;
  bottom: 0;
  top: auto;
  width: 100%;
  text-align: center;
  padding: 10px;

  h2 {
    font-family: "bigcaslon_romregular";
    font-size: 1.8em;
    line-height: 1.2em;
    color: #000;
    margin: 0;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  .email-panel-close {
    position: absolute;
    color: $ruuby-grey;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .newsletter-input {
    font-size: 0.8em;
    position: relative;
    display: block;
    height: 60px;
    width: 30%;
    margin: 0 auto 20px auto;
    padding: 2px 0 2px 10px;
    border: 1px solid $ruuby-grey;

    .sign-up-text-box {
      display: inline-block;
      border: none;
      width: 60%;
      background: transparent;
      height: 50px;
      font-size: 1.3em;
      font-family: "nunito_sanssemibold";
    }
    .sign-up-submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $ruuby-grey;
      width: 39%;
      height: 40px;
      font-family: "nunito_sansbold";
      font-size: 100%;
      border-right: none;
      border-top: none;
      border-bottom: none;
      background-color: transparent;
    }
    .submit-btn {
      height: 90%;
    }
  }

  @include tablet-screens {
    h2 {
      font-size: 1.5em;
    }

    .newsletter-input {
      width: 80%;
    }
  }

  @include mobile-screens {
    h2 {
      font-size: 1.2em;
    }

    .newsletter-input {
      width: 80%;
      height: 40px;
      margin: 0 0 20 0;

      .sign-up-text-box {
        height: 30px;
      }
      .sign-up-submit {
        height: 20px;
      }
    }
  }
}