.faqs-container {
  padding-top: 100px;
  background: white;

  .faqs-row-wrapper {
    padding-right: 0;
  }
  .col-md-3 {
    padding-left: 2.5%;
    font-family: "adobe_caslon_proregular";
    z-index: 100;
    .contents {
      position: fixed;
      a {
        display: block;
        position: relative;
        cursor: pointer;
      }
      .divider {
        height: 1px;
        width: 40%;
        margin-left: 30%;
        background: #c0c0c0;
        margin-bottom: .5rem;
      }
    }
  }
  .col-md-9 {
    padding-right: 0;
    .row {
      font-family: "adobe_caslon_proregular";
      padding-right: 10%;
      h4 {
        margin-top: 50px;
        &.about {
          margin-top: 25px;
        }
        &::after {
          content: "";
          position: relative;
          display: block;
          background-size: cover;
        }
        &.about::after {
          background: url("../assets/imgs/eyes.png") no-repeat;
          width: 150px;
          height: 52px;
          margin-left: calc(50% - 75px);
        }
        &.how::after {
          background: url("../assets/imgs/facial.png") no-repeat;
          width: 150px;
          height: 139px;
          margin-left: calc(50% - 75px);
        }
        &.therapists::after {
          background: url("../assets/imgs/hair.png") no-repeat;
          width: 150px;
          height: 195px;
          margin-left: calc(50% - 75px);
        }
        &.bookings::after {
          background: url("../assets/imgs/makeup.png") no-repeat;
          width: 150px;
          height: 162px;
          margin-left: calc(50% - 75px);
        }
        &.payments::after {
          background: url("../assets/imgs/massage.png") no-repeat;
          width: 150px;
          height: 155px;
          margin-left: calc(50% - 75px);
        }
        &.recruitment::after {
          background: url("../assets/imgs/nails.png") no-repeat;
          width: 150px;
          height: 118px;
          margin-left: calc(50% - 75px);
        }
        &.other::after {
          background: url("../assets/imgs/tanning.png") no-repeat;
          width: 150px;
          height: 126px;
          margin-left: calc(50% - 75px);
        }
      }
      .other {
        margin-bottom: 50px;
      }
      ul {
        text-align: left;
        li {
          list-style: none;
          p {
            font-family: "adobe_caslon_proregular";
            font-size: 1em;
            &.question {
              margin-bottom: 0;
              font-weight: bold;
            }
            &.answer {
              padding-left: 10px;
            }
          }
        }
      }
    }

    @for $i from 1 through 4 {
      .row#{$i} {
        background: fade-out($ruuby-grey-light, .7);
      }
    }
  }

  @include mobile-screens {
    padding-top: 70px;
    .faqs-row-wrapper {
      padding-top: 20px;
      padding-left: 0;
    }
    .table-of-contents {
      margin-bottom: 30px;
    }
    .col-md-3 {
      padding-left: inherit;
      .contents {
        position: relative;
      }
    }
    .col-md-9 {
      padding-left: 0;
      ul {
        padding-left: 20px;
      }
    }
  }
  @include tablet-screens {
    .faqs-row-wrapper {
      padding-left: 0;
    }
    .col-md-3 {
      padding-left: 10px;
    }
    .col-md-9 {
      padding-left: 2.5%;
    }
  }
}
