#new-footer {
  background: $ruuby-grey-light;
  text-align: center;
  color: $ruuby-grey;
  padding: $section-padding 0;
  .signup, .social {
    p:first-child {
      font-family: "bigcaslon_romregular";
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    p:last-child {
      font-family: "nunito_sanssemibold";
      font-size: 1.3em;
    }
    .newsletter-input {
      position: relative;
      display: block;
      height: 60px;
      width: 70%;
      margin-left: 15%;
      padding: 2px 0 2px 10px;
      border: 1px solid $ruuby-grey;
      form {
        height: 100%;
      }
      input:first-child {
        display: inline-block;
        border: none;
        width: 70%;
        background: transparent;
        height: 50px;
        font-size: 1.3em;
        font-family: "nunito_sanssemibold";
        &.email-input {
          float: left;
        }
      }
      .submit-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $ruuby-grey;
        width: 29%;
        height: 90%;
        font-family: "nunito_sansbold";
        font-size: 1.4em;
        border-right: none;
        border-top: none;
        border-bottom: none;
        background-color: transparent;
      }
    }
  }
  .emblem {
    svg {
      max-height: 200px;
      width: 80%;
      margin-left: 10%;
    }
  }
  .social {
    .social-logos {
      display: flex;
      justify-content: space-around;
      svg {
        max-width: 50px;
        height: 25px;
        display: inline-block;
      }
    }
  }

  @include tablet-mobile-screens {
    .signup, .social {
      p:first-child {
        font-size: 1.2em;
      }
      p:last-child {
        font-size: 1em;
      }
      .newsletter-input {
        width: 100%;
        margin-left: 0;
        input {
          padding: 0;
        }
        .submit-btn {
          font-size: 1em;
        }
      }
    }
  }
  @include tablet-screens {
    .emblem {
      svg {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  @include mobile-screens {
    .emblem {
      margin-top: 30px;
      svg {
        width: 30%;
        margin-left: 0%;
      }
    }
    .social {
      margin-top: 40px;
      .social-logos {

      }
    }
  }
}
