.ruuby-header {
  font-size: 2.5em;
  font-family: "bigcaslon_romregular";
  margin: 0;
  color: $ruuby-grey;
}

.ruuby-title {
  font-size: 1.5em;
  font-family: "nunito_sansbold";
  margin: 0;
  color: $ruuby-grey;
}

.ruuby-txt {
  font-family: "nunito_sansregular";
  font-size: 1.1em;
}

.ruuby-btn {
  background: white;
  transition: background .2s linear;
  text-align: center;
  border: 1px solid fade-out($ruuby-grey, .7);
  border-radius: 0;
  padding: 10px 7px;
  a, p {
    margin: 0;
    font-family: "nunito_sanssemibold";
    color: $ruuby-grey;
    font-size: 1.4em;
    &:hover {
      text-decoration: none !important;
    }
  }
  &:hover {
    background: $ruuby-grey-light;
  }
}
.ruuby-btn-dark {
  width: 100%;
  background: $ruuby-blue-dark;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border: none;
  font-family: "nunito_sanssemibold";
  text-transform: uppercase;
  border-radius: 0 !important;
  transition: background .2s linear;
  &:hover {
    background: $ruuby-blue;
  }
  &.disabled, &.disabled:hover {
    background: lightgray;
    color: gray;
    cursor: not-allowed;
  }
}

/* ---------------- TOP HEADER SECTION ------------------ */
#top-section {
  text-align: center;
  font-family: "bigcaslon_romregular";
  p, .Select, .Arrow, input {
    display: inline-block;
    color: $ruuby-grey;
  }
  &.search-top {
    .row {
      padding: 0;
      div[class^="col-"] {
        padding: 0;
      }
    }
  }
  .Arrow {
    &.open {
      transform: rotate(180deg);
    }
  }
  p {
    font-size: 2.4em;
  }
  //react-slect
  .Select {
    text-align: center;
    margin: 5px 7px -10px 7px;
    outline: none;
    svg {
      max-width: 30px;
      max-height: 30px;
    }
    &.is-pseudo-focused {
      outline: none !important;
    }
    &:focus {
      outline: none !important;
    }
    .Select-value {
      text-align: left;
    }
  }
  .Select-control {
    font-size: 2.4em;
    border: none;
    border-bottom: 2px solid $ruuby-grey-blue;
    background: none;
    overflow: visible;
    padding-bottom: 6px;
    margin-bottom: -4px;
    box-shadow: none !important;
    .Select-value {
      .Select-value-label {
        line-height: 2;
      }
    }
  }
  .Select-menu-outer {
    margin-top: 4px;
    min-width: 200px;
    font-size: 1em !important;
    border: none;
    .Select-option {
      border-bottom: 1px solid $ruuby-grey-bg;
    }
  }
  .Select-option {
    font-size: 1em !important;
    &:hover {
      background: #f9f7f7;
    }
    &.is-focused {
      background: #f9f7f7;
    }
  }

  // input for postcode
  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-left: 7px;
    #postcodeInput {
      height: 50px;
      width: 100%;
      text-align: center;
      border: none;
      border-bottom: 2px solid $ruuby-grey-blue;
      background: none;
      font-family: "bigcaslon_romregular";
      font-size: 2.4em;
      padding: 0;
      margin-top: 0;
    }
    #load-bar {
      height: 5px;
    }
  }

  h2.header-text {
    font-family: "nunito_sansregular" !important;
    font-size: 1.2em;
    color: $ruuby-grey;
  }

  @include mobile-screens {
    &.search-top {
      .row {
        padding: 0;
        .col-xs-12 {
          padding: 0;
        }
      }
      .Select {
        margin: -.9em 7px 0 7px;
      }
      .is-focused:not(.is-open) > .Select-control {
        box-shadow: none;
      }
    }
    p {
      font-size: 2em;
      margin: 0;
    }
    //react-slect
    .Select-control {
      font-size: 2em;
    }
    .Select-menu-outer {
      font-size: 1em !important;
      left: 50%;
      transform: translateX(-50%);
    }
    .Select-option {
      font-size: 1em !important;
    }

    // input for postcode (search-top.tsx)
    #postcodeInput {
      font-size: 2em;
    }

    p.header-text {
      font-size: 1em;
      margin-top: 10px;
    }
  }
  @include tablet-screens {
    .col-md-8, .col-md-5 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

/* Twitter bootstrap extension for 5 equal columns */
.col-xs-5col, .col-sm-5col, .col-md-5col, .col-lg-5col {
  position: relative;
  min-height: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5col {
  width: 49.99999%;
  float: left;
}
@include tablet-screens {
  .col-sm-5col {
    width: 33.333333%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5col {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5col {
    width: 20%;
    float: left;
  }
}

/* General ruuby web form for email signups */
.newsletter-input {
  position: relative;
  display: block;
  height: 60px;
  width: 70%;
  margin-left: 15%;
  padding: 2px 0 2px 10px;
  border: 1px solid $ruuby-grey;
  input:first-child {
    display: inline-block;
    border: none;
    width: calc(100% - 91px);
    background: transparent;
    height: 50px;
    font-size: 1.3em;
    font-family: "nunito_sanssemibold";
  }
  .submit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $ruuby-grey;
    width: 90px;
    height: 90%;
    font-family: "nunito_sansbold";
    font-size: 100% !important;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}

/* ----------- CATEGORY DROPWDOWN ----------- */
.lbb {
  text-align: left;
  position: relative;
  .lbb-a {
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
  svg {
    position: absolute;
    top: 10px;
    right: -12px;
    width: 5px;
    transform: rotate(90deg);
    path {
      fill: white;
    }
  }
  .sub-container {
    min-width: 10vw;
    position: absolute;
    top: -100vh;
    padding: 2.1em 0 0 0;
    transition: top 0s;
    text-align: center !important;
    transform: translateX(-50%);
    left: 50%;

    .cat-link {
      padding: 5px 20px;
      font-family: "nunito_sansregular";
      font-size: 1em;
      white-space: nowrap;
      $faded-grey: fade-out($ruuby-grey-bg, .5);
      border-bottom: 1px $faded-grey white;
      background: fade-out($ruuby-grey-bg, .9);
      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        padding-bottom: 10px;
      }
      &:hover {
        background: fade-out($ruuby-grey-bg, .8) !important;
        cursor: pointer;
      }

      visibility: hidden;
      width: 0;
      opacity: 0;
      @for $i from 0 through $NUM_OF_CATEGORIES {
        &.cat#{$i} {
          transition:
            visibility 0s,
            width 0s,
            opacity .2s ease-in-out #{$i / 30}s;
        }
      }
    }
    &:before {
      content: "";
      width: 0;
      transition: width .1s ease-out;
      height: 1px;
      background: white;
      display: block;
    }

    @include tablet-screens {
      min-width: 20vw;
    }
  }
  &:hover, &.active {
    .sub-container {
      top: 0;
    }
    svg {
      transform: rotate(270deg);
    }
    @for $i from 0 through $NUM_OF_CATEGORIES {
      .cat-link {
        width: 100%;
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.white {
    .sub-container {
      padding: 3em 0 0 0;
      .cat-link {
        background: white;
        &:hover {
          background: $ruuby-grey-light !important;
        }
      }
    }
  }
}

/* ----------- TELEPHONE COMPONENT ----------- */
#tele-component {
  .tele-input-wrapper {
    position: relative;
    .flag-select {
      position: absolute;
      z-index: 1;
      height: 100%;
      padding: 5px 0;
      .selected--flag--option  {
        height: 100%;
        font-size: 16px;
        display: inline-flex;
        span.country-flag {
          width: 100% !important;
          height: 100% !important;
          display: flex;
          align-items: center;
          border-right: 1px solid lightgrey;
          padding-right: 5px !important;
          img {
            margin-top: -5px;
          }
          .country-label {
            padding: 0 0 0 5px;
            color: lightgrey;
            font-size: 1.1em;
          }
        }
        .arrow-down {
          display: none;
        }
      }
    }
    input {
      padding-left: 80px;
    }
  }
}
