#new-header {
  position: fixed;
  background: white;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #cecece;
  top: -71px;
  transition: top 1s ease-in-out;
  .navbar-home {
    padding-top: 0;
    padding-bottom: 0;
    height: 70px;
    .navbar-container {
      padding: 0;
      height: 100%;
      .nav-item {
        display: inline-block;
        margin: 0 1.7em;
        &.lbb {
          .lbb-a {
            position: relative;
            z-index: 100;
            svg {
              path {
                fill: $ruuby-grey;
              }
            }
          }
        }
        .nav-profile {
          svg {
            display: none;
          }
        }
        a, p, .lbb-a, .cat-link {
          color: $ruuby-grey;
          font-size: 1em;
          display: inline-block;
          user-select: none;
        }
        &.apply-to-partner {
          a {
            color: $ruuby-blue;
          }
        }
        &.right-item {
          a {
            color: $ruuby-blue;
          }
        }
        &.vertical-splitter {
          width: 1px;
          height: 100%;
          position: relative;
          &:before {
            content: '';
            background: #ced3df;
            position: absolute;
            width: 100%;
            height: 50%;
            top: 25%;
          }
        }
        &.ruuby-logo-link {
          max-width: 100px;
          svg {
            fill: $ruuby-blue;
            width: 100%;
            height: 40%;
          }
        }
        .nav-icon {
          left: 2em;
          display: inline-block;
          padding: 0 5px;
          svg {
            width: 1em;
            height: 1em;
            path {
              fill: #cecece;
            }
          }
        }
        &.find-nav {
          input {
            border: 0.5px solid $ruuby-grey-light;
          }
          p {
            &:before {
              color: $ruuby-grey;
            }
            &:after {
              color: $ruuby-grey;
            }
          }
        }
        .nav-submenu {
          display: none;
        }
      }
      .divider-vertical {
        width: 1px;
        background: #cecece;
        height: 70%;
      }
      .nav-burgar {
        display: none;
      }
    }
  }

  @include tablet-screens {
    overflow-y: visible;
    .navbar-home {
      padding: 0 10px;
      .navbar-container {
        padding: 0;
        .nav-item {
          margin: 0 .6em;
          a, p {
            font-size: .9em;
          }
          .sub-container {
            .cat-link {
              text-decoration: none;
              color: $ruuby-grey;
            }
          }
          &.ruuby-logo-link {
            max-width: 100px;
            margin: 0;
            svg {
              width: auto;
              height: 30%;
            }
          }
          .nav-icon {
            svg {
              width: .9em;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 991px) {
    .navbar-home {
      .navbar-container {
        .nav-item {
          margin: 0 .8em;
          .nav-icon {
            svg {
              width: 1em;
            }
          }
        }
      }
    }
  }

  @include tablet-mobile-screens {
    .navbar-home {
      height: 60px;
      .navbar-container {
        flex-direction: column;
        .nav-burgar {
          position: absolute;
          top: 18px;
          right: 35px;
          display: inline;
          z-index: 500;
          .burgar-wrapper {
            position: absolute;
            height: 40px;
            width: 50px;
            div {
              background: $ruuby-blue;
              height: 4px;
              width: 30px;
              margin: 0;
              position: absolute;
              &.top {
                top: 2px;
              }
              &.middle {
                top: 10px;
                left: 0;
              }
              &.bottom {
                top: 18px;
              }
            }
          }
        }
        .divider-horizontal {
          width: 100vw;
          background: #cecece;
          height: 1px;
          margin-top: 20px;
          display: none;
          position: absolute;
          top: 40px;
        }
        .nav-item {
          width: 100vw;
          &.apply-to-partner {
            a {
            }
          }
          &.ruuby-logo-link {
            width: 30%;
            max-width: 400px;
            position: absolute;
            margin: 0;
            top: 16px;
            left: 5px;
            svg {
              position: absolute;
              top: 0;
              left: 0;
              height: 30px;
            }
          }
          .nav-icon {
            svg {
              path {
              }
            }
          }
          &.find-nav {
            input {
              width: 75vw;
              height: 40px;
            }
            p {
              left: 50%;
              &:before {
              }
              &:after {
              }
            }
            .nav-icon {
              left: calc(50% - 1.8em);
            }
          }
          &.nav-sub {
            // display: none;
            opacity: 0;
          }
          .nav-profile {
            position: relative;
            display: inline-block;
            svg {
              position: absolute;
              top: 10px;
              right: -12px;
              width: 5px;
              transform: rotate(90deg);
              display: inline-block;
            }
          }
        }
        .nav-items {
          height: 100%;
          position: relative;
          margin-top: 60px;
          overflow-y: scroll;
          .nav-item {
            margin: 4em 0;
            &:first-child {
              margin-top: 2em !important;
            }
            &.lbb {
              text-align: center;
              .sub-container {
                display: none;
              }
            }
            .nav-submenu {
              background: $ruuby-grey-bg;
              position: relative;
              width: 100%;
              display: block;
              margin-top: 10px;
              height: 0;
              padding: 0;
              overflow: hidden;
              .nav-item {
                display: block;
                margin: 1.6em 0;
                opacity: 0;
              }
            }
          }
        }
        .divider-vertical {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #new-header {
    .container {
      width: 1000px;
    }
  }
}
