.ReactModal__Content {
  .modal-close {
    .top-row {
      h3 {
        font-family: "bigcaslon_romregular";
      }
      .close-icon {
        top: 0;
        &:hover {
          cursor: pointer;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
      .col-xs-12 {
        width: 100%;
      }
    }
  }
  @include mobile-screens {
  .modal-close {
    .top-row {
      h3 {
        font-size: 1.6em;
      }
      .close-icon {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  }
}
