#provider {
  border-bottom: 1px solid #222;
  background-color: #fff;
  padding-top: 90px;
  text-align: center;
  position: relative;

  .container {
    min-height: initial;
    width: 80% !important;

    @include tablet-screens {
      margin: 0 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .provider-overview {
    padding: 40px 0;

    .therapists-service {
      margin-bottom: 15px;
      padding: 0;
      text-align: center;
      position: relative;

      .slider-container {
        button {
          display: none;
        }
        .therapists-img-box {
          height: 250px;
          width: 100%;
        }
      }
      .control-carousel {
        cursor: pointer;
        position: absolute;
        font-size: 40px !important;
        color: #8f8e94;
        top: 45%;
      }

      .left-carousel {
        left: 0;
      }

      .right-carousel {
        right: 0;
      }
      .therapists-overview {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;

        .therapists-text-box {
          display: inline-block;
          padding: 0;
          width: 100%;

          & > .row {
            padding: 0;
          }

          .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 200px;
            margin: auto;
            width: 40%;
            padding: 0;

            .therapists-profile-img {
              width: 100%;
              border-radius: 50%;
              margin-right: 10px;
              margin-top: 10px;
              margin: 0;
            }
          }

          .profile-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            width: 60%;

            & > div {
              width: 100%;
            }

            h1 {
              padding-left: 10px;
              font-family: 'bigcaslon_romregular';
              font-size: 34px;
              color: #1d1d26;
              margin-bottom: 10px;
            }
            .rating {
              padding-left: 10px;
              color: #969599;
              p {
                font-size: 16px;
                font-family: 'nunito_sanssemibold';
                color: #88888d;
                margin: 0;
              }
            }
            .icon-heart {
              font-size: 25px !important;
              color: #d5d6dd;
              margin-left: 20px;
            }

            .services-list {
              font-family: "nunito_sanssemibold";
              ul {
                padding: 0;
                list-style-type: none;
                display: inline-block;
                margin-bottom: 10px;

                li h2 {
                  float: left;
                  padding: 0 10px;
                  position: relative;
                  font-family: 'nunito_sanssemibold';
                  font-size: 20px;
                  color: #1d1d26;
                }
                li {
                  position: relative;
                  float: left;
                  &:before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background: #8f8e94;
                    right: -4px;
                    top: calc(50% - 2px);
                  }

                  &:last-child:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .overview {
        color: #88888d;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: left;
        font-size: 16px;
        font-family: 'nunito_sanssemibold';
      }
    }
  }

  .category-nav-bar {
    background: #e6ebeb;
    color: #a3a3a3;
    min-height: 58px;
    max-height: 65px;
    z-index: 90;

    &.fixed {
      position: fixed;
      top: 70px;
      width: 100%;
      z-index: 90;
    }
    position: relative;
    height: 40px;
    width: 100%;
    overflow: hidden;
    div[class$="-arrow"] {
      display: none;
    }
    .belt-gradient-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 90px;
      z-index: 100;
      background: linear-gradient(to right, $ruuby-grey-light 0%,rgba(255,255,255,0) 100%);
    }
    .belt-gradient-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 90px;
      font-style: italic;          
      z-index: 100;
      background: linear-gradient(to left, $ruuby-grey-light 0%,rgba(255,255,255,0) 100%);
    }
    .category-belt-wrapper {
      width: 100%;
      margin: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 100px;
      position: relative;
      .category-belt {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        .category {
          position: relative;
          display: inline-block;
          text-align: center;
          padding: 0 20px;
          .category-name {
            font-family: "nunito_sansbold";
            text-transform: uppercase;
            color: $ruuby-grey-mid;
            opacity: .8;
            transition: all .2s linear;
            margin: 5px 20px 0 20px;
            &.active {
              opacity: 1 !important;
              color: $ruuby-blue-dark !important;
            }
            &:hover {
              cursor: pointer;
              opacity: 1;
              text-decoration: none;
              color: $ruuby-blue-dark;
            }
          }
        }
      }
    }
  }

  .treatment-list-container {
    padding: 50px 10px;
    min-height: 800px;
    .noTimeLeft {
      width: 70%;
      text-align: center;
    }
    .tab-content-services {
      position: relative;
      overflow: hidden;
      min-height: 800px;
      padding: 0;

      .treatment-list {
        border: none;
        padding-bottom: 0;
        padding-right: 350px;
        width: 100%;
        display: inline-block;
        color: #222;

        .category-name {
          font-family: "bigcaslon_romregular";
          font-size: 28px;
          text-align: left;
          margin: 0;
          padding: 20px 0;
          border-bottom: 2px solid #eeeeee;
          color: $ruuby-grey;

          &:before {
            display: block;
            content: " ";
            margin-top: -285px;
            height: 285px;
            visibility: hidden;
          }
        }

        ul {
          padding: 0;
          list-style: none;
          margin: 0;
          text-align: left;

          li {
            position: relative;
            border-bottom: 2px solid #eeeeee;
            font-family: 'nunito_sansbold';
            &:before {
              content: "";
              width: 5px;
              transform: translateY(50%);
              height: 0%;
              background: $ruuby-blue;
              position: absolute;
              left: 0;
              transition: 
                transform .1s linear,
                height .15s linear;
            }
            &.inBasket {
              background: $ruuby-grey-bg;
              &:before {
                transform: translateY(0%);
                height: 100%;
              }
            }
            .row {
              padding: 0 10px;

              .treatment-info-btn {
                width: 30px;
                height: 59px;
                position: absolute;
                right: 0;
                top: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .basket {
        position: absolute;
        width: 300px;
        max-height: calc(100vh - 180px);
        right:0;
        top: 0;
        background: #f4f4f4;
        padding: 20px;
        color: #1d1d26;
        font-size: 18px;
        font-family: 'nunito_sanssemibold';
        z-index: 200;

        &.fixed {
          position: fixed;
          top: 180px;
          z-index: 99;
        }

        .handleBasket-container {
          width: 50px;
          height: 50px;
          position: absolute;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          left: -50px;
          top: 0;
          background: #e6ebeb;
          .icon-basket {
            line-height: 50px;
          }
        }

        p.address {
          font-size: .9em;
        }

        a, div {
          &.btn-checkout {
            width: 100%;
            background: #586b72;
            color: #ffffff !important;
            cursor: pointer;
            display: inline-block;
            padding: 15px;

            &:hover, &:focus {
              text-decoration: none !important;
            }
            &.disabled {
              color: grey !important;
              &:hover {
                cursor: not-allowed;
              }
            }
          }
          &.select-another-date-btn {
            text-decoration: underline;
            cursor: pointer;
            color: #747b89;
            font-size: 15px;
          }
        }

        .booked-list {
          padding: 0;
          list-style: none;
          margin: 0;
          text-align: left;
          margin-left: -20px;
          margin-right: -20px;
          padding: 0 30px;
          max-height: 300px;
          overflow: auto;

          li {
            border-top: 2px solid #eeeeee;
            font-family: 'nunito_sansbold';

            .treatment-info-toggle {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }

        .promocode-input, .total-price {
          text-align: left;
          padding: 20px 0;
          border-top: 2px solid #eeeeee;;
          p {
            margin: 0;
          }
          .mobile-view {
            display: none;
          }
        }
      }

      .mobile-view-basket {
        display: none;
      }
    }

    .treatment-info-toggle {
      cursor: pointer;
      padding: 20px 80px 20px 0;
      color: #8a8f9a;

      h4 {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #747b89;
        max-width: 80%;
      }

      .treatment-price {
        float: right;
        font-size: 16px;
        font-weight: bold;
        font-family: "nunito_sansbold";
        color: #565656;
        margin: 0;
      }

      .booking-period {
        font-size: 14px;
        font-weight: bold;
        color: #a3a3a3;
        p {
          margin: 0;
        }
      }

      h4, .treatment-price, p {
        transition: color .2s linear;
      }

      .treatment-description {
        padding-top: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #747b89;
        line-height: 27px;
        font-family: 'nunito_sanssemibold';

        p {
          margin: 0;
        }
      }
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    text-align: center;
  }
  .icon-booking {
    //background-image: url("../assets/imgs/booking-icon.png");
    border-radius: 50%;
    border: 2px solid #cbcbcb;
    color: #cbcbcb;
    line-height: 21px;
    font-size: 18px;
  }
  .icon-remove {
    //background-image: url("../assets/imgs/booking-icon.png");
    border-radius: 50%;
    border: 2px solid #cbcbcb;
    color: #cbcbcb;
    line-height: 21px;
    font-size: 18px;
  }
  .icon-booked {
    background-image: url("../assets/imgs/booked-icon.png");
  }
  .treatment-info-toggle {

  }
  .proceed-btn {
    text-transform: none;
    font-size: 18px;
    letter-spacing: initial;
    width: 200px;
    font-family: 'nunito_sanssemibold';
    display: block;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: #586b72;
    color: #ffffff !important;
    padding: 15px;
    border-radius: 0;
  }
}

@include mobile-screens {
  #provider {
    .provider-overview {
      width: 100% !important;
      .therapists-service {
        .left-carousel {
          left: 10px !important;
        }
        .right-carousel {
          right: 10px !important;
        }
      }
    }
    .category-nav-bar {
      max-height: 200px;
      &.fixed {
        top: 60px;
      }
      div[class$="-arrow"] {
        position: absolute;
        display: inline-block;
        width: 8px;
        align-items: center;
        height: 100%;
        z-index: 800;
        svg {
          width: 100%;
        }
      }
      .left-arrow, .right-arrow {
        &:hover {
          cursor: pointer;
        }
      }
      .left-arrow {
        left: 5px;
        top: -20px;
        transform: rotate(180deg);
      }
      .right-arrow {
        right: 5px;
        top: 20px;
      }
    }
    .treatment-list-container {
      padding-top: 50px;
      padding-right: 0;
      padding-left: 0;
      margin: 0;
      .treatment-info-toggle {
        padding-right: 40px;
        h4 {
          max-width: 85%;
        }
      }
      .tab-content-services {
        width: 100vw;
        padding: 0;
        .treatment-list {
          padding: 0;
          width: 100%;
          .category-name {
            padding-left: 10px;
          }
        }
        /*--- NEW BASKET ---*/
        .basket {
          position: fixed !important;
          top: auto;
          bottom: 0;
          width: 100%;
          padding: 0 20px 20px 20px;
          &.basketEmpty {
            display: none !important;
          }
          .top-section {
            display: none !important;
          }
          .total-price {
            padding-bottom: 40px;
            user-select: none;
            .desktop-view {
              display: none;
            }
            .mobile-view {
              display: block;
              .name {
                float: left;
                color: $ruuby-grey-mid;
                max-width: 60%;
                margin-bottom: 10px;
              }
              .total {
                float: left;
                color: $ruuby-blue-dark;
                font-weight: bold;
              }
              .view-booking, .price {
                user-select: none;
                float: right;
                font-weight: 100;
                color: $ruuby-blue-dark;
                font-family: "nunito_sansregular";
              }
            }
          }
        }
        .mobile-view-basket {
          display: block;
          position: fixed;
          bottom: -100vh;
          left: 0;
          height: 100vh;
          width: 100%;
          background: $ruuby-grey-bg;
          padding: 80px 10px 140px 10px;
          text-align: center;
          z-index: 100;
          .img-wrapper {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 25px;
            position: relative;
            margin-left: calc(50% - 25px);
            img {
              height: 100%;
              transform: translateX(-25%);
            }
          }
          .close-icon {
            position: absolute;
            right: 5px;
            width: 25px;
            height: 25px;
            img {
              height: 100%;
              width: 100%;
            }
          }
          h3 {
            font-family: "nunito_sanssemibold";
            color: $ruuby-blue-dark;
            margin-bottom: 0;
          }
          p {
            font-family: "nunito_sanssemibold";
          }
          hr {
            width: 85%;
            margin-bottom: 0;
          }
          h4 {
            font-family: "bigcaslon_romregular";
            text-align: left;
            color: $ruuby-grey;
          }
          .treatments {
            padding-top: 1rem;
            padding-bottom: 40px;
            overflow-y: scroll;
            .treatment {
              position: relative;
              display: flex;
              justify-content: space-between;
              font-family: "nunito_sanssemibold";
              margin-bottom: 0;
              padding: .5em 0;
              color: $ruuby-blue;
              .pull-left {
                position: absolute;
              }
              .info {
                line-height: 1.35em;
                padding-left: 40px;
                p {
                  margin: 0;
                  &.name {
                    text-align: left;
                    padding-right: 10px;
                  }
                  &.duration {
                    text-align: left;
                    color: #a3a3a3 !important;
                  }
                }
              }
              hr {
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
              }
            }
          }
        }
        /*--- /NEW BASKET ---*/
      }
      .noTimeLeft {
        width: 100vw;
      }
    }
  }
}

@include tablet-mobile-screens {
  #provider {
    .provider-overview {
      .therapists-service {
        .therapists-overview {
          margin: auto;
          margin-bottom: 50px;
        }
      }
    }
  }
  .toggle-right {
    left: 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (min-width: 1200px) {
  #provider {
    .container {
      width: 1000px;
    }
  }
}

.day-time-selector {
  width: 100%;
  .time-not-available {
    font-size: .8em;
    color: $ruuby-red;
    font-family: 'nunito_sansbold';
    margin: 0;
  }
  .day-slots {
    width: 100%;
    position: relative;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    #load-bar {
      margin-top: 5px;
    }
    .day-scroll-container {
      width: 100%;
      height: 150px;
      padding-bottom: 50px;
      overflow-x: scroll;
      overflow-y: hidden;
      .day-slots-wrapper {
        display: inline-flex;
        padding-top: 5px;
        padding-left: 40px;
        .day {
          height: 90px;
          &.day-selected {
            border: none;
            background: $ruuby-grey-light;
            .day-slot-day-name, .day-slot-date, .day-slot-month {
              color: black !important;
            }
          }
          &.day-available {
            .day-slot-day-name, .day-slot-date, .day-slot-month {
              color: $ruuby-grey;
            }
          }
          .day-slot-day-name {
            font-family: 'nunito_sansbold';
            font-size: 16px;
            font-weight: bold;
            color: $ruuby-grey-light;
          }
          .day-slot-date {
            font-size: 16px;
            color: $ruuby-grey-light;
          }
          .day-slot-month {
            color: $ruuby-grey-light;
          }
        }
      }
    }
  }
  .time-slots {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
    .time-scroll-container {
      width: 100%;
      height: 100px;
      padding-bottom: 50px;
      overflow-x: scroll;
      overflow-y: hidden;
      .time-slots-wrapper {
        display: inline-flex;
        padding-top: 5px;
        padding-left: 30px;
        .time {
          border: none;
          color: $ruuby-grey;
          font-family: "nunito_sanssemibold";
          &.time-selected {
            background: $ruuby-grey-light;
            color: black !important;
            border-radius: none !important;
          }
        }
      }
    }
  }
  .control-carousel {
    position: absolute;
    top: 50%;
    z-index: 101;
    cursor: pointer;
    transform: translateY(-50%);
    &.left-carousel {
      left: 0;
    }
    &.right-carousel {
      right: 0;
    }
  }
  .belt-gradient {
    position: absolute;
    top: 0;
    width: 50px;
    height: 200px;
    z-index: 100;
    &.belt-gradient-left {
      left: 0;
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    }
    &.belt-gradient-right {
      right: 0;
      background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  .btn-checkout {
    width: 50%;
    margin-top: 20px;
    background: #586b72;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    font-size: 1.2em;

    &:hover, &:focus {
      text-decoration: none !important;
    }
    &.disabled {
      color: grey !important;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
  @include mobile-screens {
  .btn-checkout {
    width: 100%;
    font-size: 1.1em;
    &:hover, &:focus {
      text-decoration: none !important;
    }
    &.disabled {
      color: grey !important;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
  }
}

.ReactModal__Content {
  .modal-close {
    .child-row {
      text-align: center;
      .no-availability {
        width: 100%;
        color: $ruuby-red;
      }
    }
    @include mobile-screens {
    
    }
  }
}
