.ruuby-search {
  padding: 100px 15% 5% 15%;
  background: $ruuby-grey-bg;

  .search-top {
    ::placeholder {
      color: $input-placeholder-color;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $input-placeholder-color;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $input-placeholder-color;
    }
  }

/* ---------------- SEARCH FILTER SECTION ------------------ */
  #filter-section {
    margin-top: 30px;
    .row {
      color: $filter-light-grey;
      padding: 0;
      .col-type, .col-time {
        border-right: 1px solid $border-color;
      }
      .col-time, .col-date {
        background: transparent;
        transition: background .3s linear;
        &:hover {
          cursor: pointer;
        }
        &.active {
          background: white;
          .col-wrapper {
            .icon {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .slots-selection, .dates-selection {
        background: white;
        border-bottom: 1px solid $border-color;
      }
      .slots-selection {
        height: 100px;
        .slots {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .slot {
            border: 1px solid $ruuby-grey-light;
            margin: 0 20px;
            padding: 10px 20px;
            p {
              margin: 0;
            }
            transition: background .2s linear;
            &.selected {
              background: $ruuby-grey-light;
              p {
                color: $ruuby-grey;
              }
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &.top {
        border-bottom: 1px solid $border-color;
        .col-wrapper {
          font-family: "nunito_sansbold";
          display: flex;
          position: relative;
          justify-content: space-between;
          align-items: center;
          .text {
            display: inline-block;
            p {
              margin-bottom: 5px;
              &:first-child {
                color: $filter-dark-grey;
              }
            }
          }
          .icon {
            display: inline-block;
            width: 40px;
            svg {
              width: 50%;
              max-height: 50px;
            }
            img {
              width: 70%;
            }
          }
        }
        .col-md-3 {
          border-right: 1px solid $border-color;
          &:last-child {
            border-right: none;
          }
        }
      }

      &.bottom {
        padding: 0 0 5px 0;
        position: relative;
        display: block;
        .selection-wrapper {
          position: relative;
          display: block;
          width: 100%;
          height: 100px;
          overflow-y: hidden;
          div[class$="-arrow"] {
            width: 15px;
            height: 100%;
            top: 0;
            padding-top: 42px;
            position: absolute;
            display: inline-block;
            svg {
              height: 8px;
              max-height: 50px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          .left-arrow {
            left: 5px;
            svg {
              transform: rotate(90deg);
            }
          }
          .right-arrow {
            right: 5px;
            svg {
              transform: rotate(-90deg);
            }
          }
          .selection-belt-wrapper {
            width: 90%;
            margin-left: 5%;
            overflow: scroll;
            padding-bottom: 50px;
            .belt-gradient-left {
              position: absolute;
              left: 5%;
              top: 0;
              width: 25px;
              height: 200px;
              z-index: 100;
              background: linear-gradient(to right, white 0%,rgba(255,255,255,0) 100%);
            }
            .belt-gradient-right {
              position: absolute;
              right: 5%;
              top: 0;
              width: 25px;
              height: 200px;
              z-index: 100;
              background: linear-gradient(to left, white 0%,rgba(255,255,255,0) 100%);
            }
            .selection-belt {
              margin: 0 20px;
              width: 1440px;
              //----------------------- DATE
              .date {
                height: 90px;
                margin: 5px 0;
                width: 50px;
                text-align: center;
                display: inline-block;
                figure.month {
                  margin: 0;
                  font-size: .8em;
                }
                p.day-string {
                  font-weight: bold;
                  margin: 0;
                }
                p.day-number {
                  margin-bottom: 0;
                }
                &.active {
                  p {
                    color: black !important;
                    background: $ruuby-grey-light;
                  }
                }
                &:hover {
                  cursor: pointer;
                }
              }
              //----------------------- TREATMENT
              .treatment {
                display: inline-block;
                background: $treatment-bg;
                transition: background .2s linear;
                height: 30px;
                border-radius: 15px;
                color: $ruuby-grey;
                font-family: "nunito_sansbold";
                margin: 10px 5px;
                &:hover {
                  cursor: pointer;
                }
                &.selected {
                  background: $ruuby-blue;
                  color: white;
                }
              }
            }
          }
        }
        //----------------------- TYPE
        .types-selection {
          padding-right: 0 !important;
          padding-left: 0 !important;
          .selection-belt-wrapper {
            width: auto !important;
            margin: 0 !important;
            padding: 0 !important;
            .types-wrapper {
              width: auto !important;
              padding-right: 0 !important;
              padding-left: 0 !important;
              margin: 0 !important;
              .type {
                padding: 0 10px !important;
                &:first-child {
                  margin-top: 10px;
                }
                &:hover {
                  cursor: pointer;
                }
                hr {
                  margin: 0;
                }
                p:first-child {
                  margin-bottom: auto;
                }
                p:last-child {
                  margin-top: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  #loader-bar {
    margin-top: 10px;
    margin-bottom: -10px;
  }

/* ---------------- SEARCH RESULTS SECTION ------------------ */
  @mixin side-padding {
    padding-right: 10px;
    padding-left: 10px;
  }
  #results-section {
    margin-top: 20px;
    min-height: 20vh;
    transition: height 1s ease-out;

    .no-results {
      font-size: 1.2em;
      margin: 2em auto;
      text-align: center;
      width: 50%;
      background: $ruuby-blue;
      padding: 10px 20px;
      p {
        margin: 0;
        font-family: "nunito_sanssemibold";
        color: $ruuby-grey-light;
      }
      a {
        color: #bec2ca;
      }
    }

    .results-row {
      padding-right: 0;
      padding-left: 0;
    }

    .search-result {
      //bootstrap overides
      flex: 0 0 49%;
      display: flex;
      flex-direction: column;
      max-width: 49%;
      transition: border-color .3s linear;
      background: white;
      border: 3px solid white;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 20px;
      hr {
        margin: 0;
        background: $ruuby-grey-light;
      }
      .top {
        color: $results-title-color;
        @include side-padding;
        display: flex;
        flex-grow: 0;
        align-items: center;
        background: white;
        padding-bottom: 1rem;
        .img {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          margin-right: 10px;
          margin-top: 10px;
        }
        .rating {
          color: $results-rating-color;
        }
        .txt {
          color: $ruuby-blue;
          flex-grow: 2;
          p {
            margin-bottom: 0;
            &:first-child {
              font-family: "bigcaslon_romregular";
              font-size: 1.8em;
              line-height: 1.2em;
              margin-bottom: 0;
              margin-top: 5px;
            }
            &:nth-child(2) {
              font-family: "nunito_sanssemibold";
              font-size: 1.1em;
            }
            &:nth-child(3) {
              font-family: "nunito_sanssemibold";
              font-size: .8em;
            }
          }
        }
      }
      .middle {
        @include side-padding;
        color: $ruuby-blue;
        background: white;
        padding-bottom: 1rem;
        padding-top: 1rem;
        flex-grow: 2;
        p.description {
          font-family: "nunito_sansregular";
          font-size: 1.1em;
          line-height: 1.5em;
          span.readMore {
            font-family: "nunito_sansbold" !important;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .availability-slots-wrapper {
          position: relative;
          width: 100%;
          height: 45px;
          overflow-y: hidden;
          .slots-gradient-left {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 50px;
            z-index: 100;
            background: linear-gradient(to right, white 0%,rgba(255,255,255,0) 100%);
          }
          .slots-gradient-right {
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 50px;
            font-style: italic;          
            z-index: 100;
            background: linear-gradient(to left, white 0%,rgba(255,255,255,0) 100%);
          }
          .availability-slots {
            display: block;
            width: 100%;
            height: 150px;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-left: 20px;
            .belt {
              .slot {
                background: $ruuby-grey-bg;
                display: inline-block;
                margin: 5px;
                padding: 5px;
                flex-shrink: 0;
                border-radius: 5px;
                height: 2.2em;
                transition: .2s background linear;
                p {
                  font-family: "nunito_sansregular";
                  font-size: 1em;
                  margin: 0;
                }
                &:hover {
                  background: $ruuby-grey-light;
                }
              }
            }
          }
          div[class$="-arrow"] {
            width: 8px;
            position: absolute;
            display: inline-flex;
            align-items: center;
            height: 100%;
            top: 0;
            z-index: 999;
            svg {
              width: 100%;
            }
          }
          .left-arrow, .right-arrow {
            &:hover {
              cursor: pointer;
            }
          }
          .left-arrow {
            left: 0;
            transform: rotate(180deg);
          }
          .right-arrow {
            right: 0;
          }
        }
      }
      .bottom-divider {
        margin-bottom: 0;
      }
      .btn {
        background: white;
        transition: all .3s linear;
        @include side-padding;
        text-align: center;
        font-family: "nunito_sansbold";
        color: $ruuby-grey;
        width: 100%;
        font-size: 1.5em;
        padding-top: 1rem;
        padding-bottom: 0;
        border-radius: 0;
        flex-grow: 0;
        height: 2.5em;
        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        background: $result-hover-color;
        border-color: $result-hover-color;
        .btn {
          background: $result-hover-color;
          color: white;
        }
      }

      &:visited, &:focus, &:hover {
        text-decoration: none !important;
      }
    }
  }

  @include tablet-screens {
    padding: 90px 5% 0 5%;
    #top-section {
      padding: 0;
      p:first-child {
        margin-bottom: 0;
      }
    }

    #results-section {
      .no-results {
        width: 80%;
      }
    }
  }

  @include mobile-screens {
    padding: 70px 5% 0 5%;
    #top-section {
      padding: 0;
      p:first-child {
        margin-bottom: 0;
      }
    }
    #filter-section {
      .row {
        .col-time {
          border-right: none;
          border-bottom: 1px solid $ruuby-grey-light;
        }
        .col-time {
          padding-top: 10px;
        }
        .slots-selection {
          overflow-x: scroll;
          .slots {
            width: 200%;
          }
        }
      }
    }

    #results-section {
      .no-results {
        font-size: 0.9em;
        width: 80%;
      }

      .search-result {
        flex: 0 0 100%;
        max-width: 100%;
        .top {
          .txt {
            p {
              &:first-child {
                font-size: 1.5em;
              }
              &:nth-child(2) {
                font-size: 1em;
              }
              &:nth-child(3) {
                font-size: .8em;
              }
            }
          }
        }
        .middle {
          p.description {
            font-size: 1em;
            line-height: 1.2em;
          }
        }
      }
    }
  }
}
