#treatments-list {
  background: $ruuby-pink;
  .row.banner {
    padding: 0;
    .col-xs-12 {
      width: 100%;
      height: 40vh;
      .header-img {
        width: 100%;
        height: 100%;
        background: url("../assets/imgs/ruuby-chairs@2x.jpg") no-repeat;
        background-size: cover !important;
        background-position: center !important;
      }
    }
  }
  .title {
    margin-top: 40px;
    margin-bottom: 25px;
    h1 {
      font-family: "bigcaslon_romregular";
      color: $ruuby-grey;
    }
  }
  .price-lists {
    .category {
      margin-bottom: 50px;
      color: black !important;
      a {
        color: black !important;
        font-size: 1.6em;
        text-decoration: none;
        font-family: "bigcaslon_romregular";
      }
      table {
        width: 100%;
        font-family: "nunito_sansregular";
        tr {
          td:first-child {
            float: left;
          }
          td:last-child {
            float: right;
          }
        }
      }
    }
  }
  p {
    font-family: "nunito_sansregular";
    span {
      font-family: "Arial";
    }
  }

  @include retina-display {
    .row.banner {
      .col-xs-12 {
        .header-img {
          background: url("../assets/imgs/ruuby-chairs@3x.jpg") no-repeat;
        }
      }
    }
  }
  @include mobile-screens {
    .row.banner {
      .col-xs-12 {
        .header-img {
          background: url("../assets/imgs/ruuby-chairs@mobile.jpg") no-repeat;
        }
      }
    }
  }
}