//NAVBAR
.home-navbar {
  .navbar-home {
    @extend .navbar;
    position: relative;
    background: none;
    border: none;
    padding-top: 50px;
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      padding: 0 10%;
      font-family: 'nunito_sanssemibold';
      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        a, p {
          margin: 0;
          text-decoration: none;
          color: white;
          font-size: 1.1em;
        }
        &.ruuby-logo-link {
          width: 20%;
          max-width: 250px;
          svg {
            fill: white;
            width: 100%;
          }
        }
        &.nav-item-user {
          position: absolute;
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, 0);
          right: 20px;
          border-left: 1px solid rgba(255, 255, 255, 0.4);
          padding-left: 2.5%;
        }
        &.find-nav {
          position: relative;
          input {
            font-family: "nunito_sanssemibold";
            color: grey;
            height: 30px;
            background: transparent;
            width: 150px;
            position: relative;
            border-radius: 0;
            border: 0.5px solid fade-out(white, .7);
            opacity: 0;
            padding: 0 5px;
            transition: opacity .3s ease-out;
          }
          p, .nav-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          p {
            left: 0;
            transition: all .3s ease-out;
            &:hover {
              cursor: pointer !important;
              text-decoration: underline;
            }
            &:before {
              content: "Find";
              position: absolute;
              left: 0;
              transform: translateY(-50%);
              font-family: "nunito_sanssemibold";
              color: white;
              font-size: 1.1em;
            }
            &:after {
              content: "X";
              opacity: 0;
              position: absolute;
              display: inline;
              opacity: 0;
              left: 0;
              transform: translateY(-50%);
              font-family: "nunito_sanssemibold";
              color: white;
              font-size: 1.1em;
            }
          }
          .nav-icon {
            left: 2.3em;
            transition: all .3s ease-out;
            &:hover {
              cursor: pointer !important;
            }
          }
          &.active {
            input {
              opacity: 1;
            }
            p {
              left: calc(100% - 1.4em);
              &:before {
                opacity: 0;
              }
              &:after {
                opacity: 1;
              }
            }
            .nav-icon {
              left: calc(100% - 1.8em);
              opacity: 0;
            }
          }
        }
        .nav-icon {
          display: inline-block;
          padding: 0 5px;
          svg {
            width: 1em;
          }
        }
      }
    }
  }

  @include tablet-screens {
    .navbar-home {
      .navbar-container {
        .nav-item {
          &.find-nav {
            input {
              width: 100px;
            }
            .nav-icon {
              left: 1.6em;
            }
            &.active {
              .nav-icon {
                left: calc(100% - 1.5em);
              }
            }
          }
          .nav-icon {
            display: inline-block;
            padding: 0 5px;
            svg {
              width: 1em;
            }
          }
        }
      }
    }
  }

  @include mobile-screens {
    .navbar-home {
      .navbar-container {
        .nav-item {
          &.find-nav {
            &.active {
              p {
                left: calc(100% - 1.5em) !important;
              }
              .nav-icon {
                left: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

.hp-section-one-new {
  padding-top: 50px;
  background: url("../assets/imgs/landing_img@3x.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 100;
  min-height: 600px !important;

  .home-search-new {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-40%) translateX(-50%);
    background: none;
    .home-search-text {
      color: white;
      text-align: center;
      h1.ruuby-header {
        color: white !important;
        white-space: nowrap;
      }
      h2.paragraph {
        white-space: pre-wrap;
        font-size: 1.3em;
        font-family: "nunito_sansregular";
        margin-top: .5em;
        margin-bottom: 1.6em;
        padding: 0 1%;
        line-height: 1.5em;
      }
    }
  }

  .home-phone {
    margin-top: 20px;
    font-size: 1.2em;
    font-family: "nunito_sanssemibold";
    color: white;
    text-align: center;

    a {
      color: white;
      text-decoration: none !important;

      &:visited, &:hover {
        text-decoration: none !important;
      }
    }

    svg {
      fill: white;
      width: 0.8em;
      height: 0.8em;
      margin-right: 10px;
    }
  }

/* Phones */
  @include mobile-screens {
    background: url("../assets/imgs/landing_img.jpg") no-repeat center;
    min-height: 500px !important;
    background-size: cover;
    padding-top: 0;
    .home-navbar {
      .navbar-home {
        .navbar-container {
          div.nav-item {
            display: none;
          }
          .ruuby-logo-link {
            width: 50vw !important;
          }
        }
      }
    }
    .home-search-new {
      left: 0;
      transform: translateY(-40%);
      .home-search-text {
        h1.ruuby-header {
          font-size: 1.6em;
        }
        h2.paragraph {
          font-size: 1em;
          line-height: 1em;
        }
      }
      .home-download-icons {
        svg {
          width: 40vw !important;
        }
      }
    }
  }

/* Tablets & Mobile */
  @include tablet-mobile-screens {
    height: 65vh;
    .home-navbar {
      .navbar-home {
        .navbar-container {
          div.nav-item {
            display: none;
          }
          .nav-item {
            a {
            }
            &.ruuby-logo-link {
              width: 50%;
              svg {
              }
            }
            .nav-icon {
            }
          }
        }
      }
    }
    .home-search-new {
      width: 100%;
      .home-search-text {
        h1.ruuby-header {
          white-space: pre-wrap;
        }
      }
      .home-download-icons {
        svg {
          width: 30vw;
        }
      }
    }
  }
}

.home-app-stores {
  height: 70px;
  .home-search-new {
    height: 100%;
    .home-download-icons {
      height: 100%;
      text-align: center;
      margin-top: 1.7em;
      svg {
        display: inline-block;
        width: 12em;
        padding: 0 10px;
      }
    }
  }

  @include mobile-screens {
    .home-download-icons {
      svg {
        width: 10em !important;
      }
    }
  }
  @include tablet-screens {
    .home-download-icons {
      svg {
        width: 10em !important;
      }
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999;
}
.description .signupDiscount {
  font-family: "handelsontwo";
  font-size: 5em;
  line-height: .8em;
}
.newsletter-input.homepage-signup {
  width: 60%;
  margin-left: 20%;

  form {
    height: 100%;
  }

  @include mobile-screens {
    width: 90%;
    margin-left: 5%;
    .submit-btn {
      font-size: 1.2em;
    }
  }
  @include tablet-mobile-screens {
    width: 80%;
    margin-left: 10%;
    input {
      width: calc(100% - 101px);
    }
    .submit-btn {
      width: 100px;
      font-size: 1.2em;
    }
  }
}
@include mobile-screens {
  .logo.signup-page {
    display: none;
  }
  .header.signup-page {
    padding-top: 30px;
  }
}
//animate modal
.ReactModalPortal > * {
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity .75s ease-in-out;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.halloween-section {
  background-image: radial-gradient(
    circle farthest-side,
    #f04a20,
    #902720
  );

  padding: 8px;
  text-align: center;

  @include mobile-screens {
    padding: 5px;
  }

  .link {
    font-family: "bigcaslon_romregular";
    color: white;
    font-size: 2em;
    text-decoration: none !important;

    @include mobile-screens {
      font-size: 1.5em;
    }
  }
}